:host {
  .tailLookupInfo {
    display: flex;
    align-items: center;
    margin-left: 3rem;

    & > div:first-child {
      width: 130px;
    }
  }
}


.sub-widget {
    background: #ececec;
    padding: 10px;
}
