<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<div>
    <div *ngIf="pricingTemplatesData || currentPricingTemplate">
        <div>
            <app-pricing-templates-grid [pricingTemplatesData]="pricingTemplatesData" (editPricingTemplateClicked)="editPricingTemplateClicked($event)" (deletePricingTemplateClicked)="deletePricingTemplateClicked($event)"></app-pricing-templates-grid>
        </div>
    </div>
    <div *ngIf="!(pricingTemplatesData || currentPricingTemplate)">
        <mat-spinner></mat-spinner>
    </div>
</div>
