<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>

<div class="after-breadcrumb">
    <mat-tab-group style="background: white;">
        <mat-tab>
            <ng-template mat-tab-label>
                Customers ({{customersData?.length}})
            </ng-template>
            <div class="table-container customers-grid-container">
                <div *ngIf="customersData && pricingTemplatesData">
                    <app-customers-grid
                        (customerDeleted)="customerDeleted()"
                        (editCustomerClicked)="editCustomerClicked($event)"
                        (exportAircraftClick)="exportAircraftClick($event)"
                        [aircraftData]="aircraftData"
                        [customerGridState]="customerGridState"
                        [customersData]="customersData"
                        [pricingTemplatesData]="pricingTemplatesData"
                        [fuelVendors]="fuelVendors"
                        [tags] = "tags"
                        (customerPriceClicked)="customerPriceClicked($event)"
                    ></app-customers-grid>
                </div>
                <div *ngIf="!customersData || !pricingTemplatesData">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Aircraft ({{aircraftData?.length}})
            </ng-template>
            <div class="table-container aircrafts-grid">
                <div *ngIf="pricingTemplatesData && aircraftData">
                    <app-aircrafts-grid
                        [aircraftsData]="aircraftData"
                        [pricingTemplatesData]="pricingTemplatesData"
                    ></app-aircrafts-grid>
                </div>
                <div *ngIf="!pricingTemplatesData || !aircraftData">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
