<div class="col-12">
    <ngx-ui-loader [loaderId]="missedOrdersLoader"
                   bgsColor="rgb(100, 181, 246)"
                   bgsPosition="center-center"
                   bgsType="ball-spin"
                   overlayColor="rgba(0, 0, 0, 0.1)"></ngx-ui-loader>
</div>
<div>
    <div class="subtitle">Lost To Competition: Flight Departments that requested quotes but dispatched fuel at another FBO</div>
    <div *ngIf="noMissedOrders">No Missed Orders</div>
    <div *ngIf="!noMissedOrders">
        <div *ngFor="let missedOrder of fbosMissedOrdersDataSource;">
                <div class="row" (click)="goToCustomerManager(missedOrder.customerId)">
                    <div class="col-3 border-bottom pt-3 pb-3">{{ missedOrder.customerName }}</div>
                    <div class="col-2 border-bottom pt-3 pb-3">  {{missedOrder.tailNumber}}</div>
                    <div class="col-3 border-bottom pt-3 pb-3"> {{ missedOrder.missedQuotesCount }} Missed order{{missedOrder.missedQuotesCount < 2 ? "" : "s" }}</div>
                    <div class="col-4 border-bottom pt-3 pb-3"> {{ missedOrder.createdDate }}</div>
                </div>
        </div>
    </div>
</div>



