<h1 mat-dialog-title>New Customer</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <input [(ngModel)]="data.company" aria-label="Customer Name" matInput placeholder="Customer Name">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button
        [disabled]="!data.company || !data.company.length"
        [mat-dialog-close]="data"
        class="mr-1"
        color="accent"
        mat-flat-button
    >Add Customer
    </button>
    <button (click)="onCancelClick()" mat-stroked-button>Cancel</button>
</div>
