:host {
  position: relative;
}

.group-merge-dialog {
  ::ng-deep {
    .mat-spinner {
      circle {
          stroke: white;
      }
    }

    .mat-button-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
