<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content [formGroup]="form">
    <div class="container-fluid" *ngIf="isSaving">
        <div class="row">
            <div class="col">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
    <mat-horizontal-stepper [linear]="true" #stepper *ngIf="!isSaving">
        <mat-step formGroupName="firstStep">
            <ng-template matStepLabel>Margin Name</ng-template>
            <div class="container-fluid inner-content">
                <div class="row mt-2 mb-2">
                    <div class="col-8">
                        <mat-form-field>
                            <input
                                matInput
                                autocomplete="off"
                                placeholder="Margin Name"
                                aria-label="Margin Name"
                                formControlName="templateName"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-4 mt-3">
                        <mat-slide-toggle
                            color="accent"
                            formControlName="templateDefault"
                            >Default</mat-slide-toggle
                        >
                    </div>
                </div>
            </div>
            <div class="text-right mt-2">
                <button mat-stroked-button [mat-dialog-close]="" class="mr-1">Cancel</button>
                <button mat-stroked-button color="green" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="secondStep">
            <ng-template matStepLabel> Edit Tiers</ng-template>
            <div class="container-fluid inner-content">
                <div class="row mb-4 mt-2">
                    <div class="col-3">
                        <mat-form-field class="col-8">
                            <mat-select
                                placeholder="Type"
                                (selectionChange)="marginTypeChange()"
                                formControlName="marginType"
                            >
                                <mat-option
                                    *ngFor="
                                        let marginType of marginTypeDataSource
                                    "
                                    [value]="marginType.value"
                                >
                                    {{ marginType.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div
                    class="row mt-2"
                    style="border-top: 1px solid; border-top-style: outset;">
                    <div class="col">
                        <h5>Volume Tiers</h5>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <table class="mat-table" style="max-width: 75%;">
                            <thead>
                                <tr class="mat-header-row">
                                    <th
                                        class="text-center mat-header-cell text-lg-center"
                                    >
                                        Min. (gal)
                                    </th>
                                    <th
                                        class="text-center mat-header-cell text-lg-center"
                                    >
                                        Max. (gal)
                                    </th>
                                    <th
                                        class="text-center mat-header-cell text-lg-center"
                                        *ngIf="marginType === 1"
                                    >
                                        Discount
                                    </th>
                                    <th class="text-center mat-header-cell text-lg-center">
                                        <span>Your ITP Margin</span>
                                    </th>
                                    <th class="text-center mat-header-cell">
                                        All-in
                                    </th>
                                    <th class="text-center mat-header-cell">
                                        <button
                                            ni-button
                                            size="small"
                                            [view]="'accent'"
                                            beforeIcon="fa fa-plus"
                                            (click)="addCustomerMargin()"
                                        >
                                            Add New
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="customerMargins">
                                <tr
                                    *ngFor="let customerMargin of customerMarginsFormArray.controls; let i = index"
                                    class="mat-row mat-row-not-hover"
                                >
                                    <td class="mat-cell text-center" [formGroupName]="i">
                                        <mat-form-field class="col-6">
                                            <input
                                                matInput
                                                class="text-lg-right"
                                                formControlName="min"
                                            />
                                        </mat-form-field>
                                    </td>
                                    <td class="mat-cell text-center" [formGroupName]="i">
                                        <mat-form-field class="col-6">
                                            <input matInput
                                                   class="text-lg-right"
                                                   formControlName="max"
                                            />
                                        </mat-form-field>
                                    </td>
                                    <td *ngIf="marginType === 1" class="mat-cell text-center" [formGroupName]="i">
                                        <div>
                                            <mat-form-field class="col-6">
                                                <input
                                                    matInput
                                                    class="text-lg-right"
                                                    type="number"
                                                    step="0.01"
                                                    formControlName="amount"
                                                />
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td
                                        class="mat-cell text-center font-weight-bold font-italic text-right"
                                        *ngIf="marginType === 0"
                                        [formGroupName]="i"
                                    >
                                        <div>
                                            <mat-form-field class="col-6">
                                                <input
                                                    matInput
                                                    class="text-lg-right"
                                                    type="number"
                                                    step="0.01"
                                                    formControlName="amount"
                                                />
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td
                                        class="mat-cell text-center font-weight-bold font-italic text-right"
                                        *ngIf="marginType === 1"
                                    >
                                        <div>${{ customerMargin.value.itp | number: "1.4-4" }}</div>
                                    </td>

                                    <td class="mat-cell text-center font-weight-bold font-italic text-right">
                                        <div>${{ customerMargin.value.allin | number: "1.4-4" }}</div>
                                    </td>

                                    <td class="text-right mat-cell">
                                        <button
                                            ni-button
                                            [view]="'error'"
                                            size="small"
                                            beforeIcon="fa fa-trash"
                                            (click)="deleteCustomerMargin(i)"
                                        >
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right mt-2">
                <button mat-stroked-button [mat-dialog-close]="" class="mr-1">Cancel</button>
                <button mat-stroked-button (click)="resetWizard()" class="mr-1">Reset</button>
                <button mat-stroked-button matStepperPrevious class="mr-1">Back</button>
                <button mat-stroked-button color="green" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="thirdStep">
            <ng-template matStepLabel>Create Email</ng-template>
            <div class="container-fluid inner-content">
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <mat-form-field>
                            <input
                                matInput
                                placeholder="Email Subject"
                                formControlName="subject"
                                aria-label="Email Subject"
                                autocomplete="off"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2 mb-2" style="font-size: 0.8rem;">
                    <span class="font-weight-bold" style="font-size: 1rem;">
                        Email Greeting
                    </span>
                    &nbsp;&nbsp;&nbsp; The body of the email to accompany
                    your distribution emails
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <ejs-richtexteditor
                            #typeEmail
                            placeholder="Greetings from our FBO! Here are our latest prices..."
                            formControlName="email"
                        ></ejs-richtexteditor>
                    </div>
                </div>
                <div class="row mt-2 mb-2" style="font-size: 0.8rem;">
                    <span class="font-weight-bold" style="font-size: 1rem;">
                        Fuel Notes
                    </span>
                    &nbsp;&nbsp;&nbsp; To show to all FuelerLinx customers
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        <ejs-richtexteditor
                            #typeNotes
                            placeholder="Hours of operation are from 7:00am-6:00pm..."
                            [toolbarSettings]="{ enable: false }"
                            formControlName="notes"
                        ></ejs-richtexteditor>
                    </div>
                </div>
            </div>
            <div class="text-right mt-2">
                <button mat-stroked-button [mat-dialog-close]="" class="mr-1">Cancel</button>
                <button mat-stroked-button matStepperPrevious class="mr-1">Back</button>
                <button mat-stroked-button color="green" (click)="addTemplateClicked()" class="mr-1">
                    Save Template
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
