<div>
    <div *ngIf="groupsData || currentGroup">
        <div *ngIf="currentGroup">
            <app-groups-edit
                [groupInfo]="currentGroup"
                (saveClicked)="saveGroupEditClicked()"
                (cancelClicked)="cancelGroupEditClicked()"
            ></app-groups-edit>
        </div>
        <div *ngIf="!currentGroup && groupsData && fbosData">
            <app-groups-grid
                [groupsData]="groupsData"
                [fbosData]="fbosData"
                (editGroupClicked)="editGroupClicked($event)"
                (editFboClicked)="editFboClicked($event)"
            ></app-groups-grid>
        </div>
    </div>
    <div *ngIf="!(groupsData || currentGroup)">
        <mat-spinner></mat-spinner>
    </div>
</div>
