<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>


<div class="after-breadcrumb flight-watch-tabs">
    <mat-tab-group (selectedTabChange)="onTabClick($event)">
        <mat-tab label="Flight Watch">
            <mat-drawer-container>
                <mat-drawer-content>
                    <mat-spinner *ngIf="!flightWatchData"></mat-spinner>
                    <div *ngIf="flightWatchData">
                        <div
                            class="drawer-button"
                            (click)="mapfilters.toggle()">
                            <button class="mat-dark-blue" mat-flat-button>
                                <mat-icon *ngIf="!mapfilters.opened"
                                    >chevron_left</mat-icon
                                >
                                <mat-icon *ngIf="mapfilters.opened"
                                    >chevron_right</mat-icon
                                >
                            </button>
                        </div>
                        <div class="aircraft-legend">
                            <app-aircraft-legend></app-aircraft-legend>
                        </div>
                        <div class="flight-watch-container">
                            <app-flight-watch-map-wrapper
                                #map
                                (markerClicked)="onFlightWatchClick($event)"
                                (airportClick)="openDrawer($event)"
                                (setIcaoList)="setIcaoList($event)"
                                style="width: 100%"
                                [aircraftData]="selectedAircraftData"
                                [center]="center"
                                [data]="filteredFlightWatchData"
                                [isStable]="flightWatchData.length > 0"
                                [icaoList]="airportsICAO"
                                [icao]="selectedICAO"
                            ></app-flight-watch-map-wrapper>
                        </div>
                    </div>
                </mat-drawer-content>

                <mat-drawer
                    mode="side"
                    #mapfilters
                    position="end"
                    class="drawer-container"
                    opened
                >
                    <div *ngIf="flightWatchData">
                        <app-flight-watch-settings
                            [swimArrivals]="swimArrivals"
                            [swimDepartures]="swimDepartures"
                            [icaoList]="airportsICAO"
                            [icao]="selectedICAO"
                            [filteredTypes]="filteredTypes"
                            (filterChanged)="onFilterChanged($event)"
                            (typesFilterChanged)="onTypesFilterChanged($event)"
                            (openAircraftPopup)="openAircraftPopup($event)"
                            (icaoChanged)="updateIcao($event)"
                            (updateDrawerButtonPosition)="
                                updateButtonOnDrawerResize()
                            "
                        ></app-flight-watch-settings>
                    </div>
                </mat-drawer>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Takeoff/Landing Cycles">
            <div class="row mt-3">
                <div class="col-12">
                    <app-analytics-airport-arrivals-depatures></app-analytics-airport-arrivals-depatures>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
