<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>

<div class="after-breadcrumb">
    <mat-spinner *ngIf="!flightWatchData"></mat-spinner>

    <div class="flight-watch-container" *ngIf="flightWatchData">
        <app-flight-watch-aircraft-info
            [flightWatch]="selectedFlightWatch"
            (closed)="onAircraftInfoClose()"
        ></app-flight-watch-aircraft-info>

        <app-flight-watch-map
            [isStable]="flightWatchData.length > 0"
            [data]="filteredFlightWatchData"
            [center]="center"
            (markerClicked)="onFlightWatchClick($event)"
            [style.width]="mapWidth"
        ></app-flight-watch-map>

        <!-- <div
            class="flight-watch-settings"
            [ngStyle]="style"
            mwlResizable
            [enableGhostResize]="true"
            (resizeEnd)="onResizeEnd($event)"
            [validateResize]="validate"
        >
            <div
                class="resize-handle-left"
                mwlResizeHandle
                [resizeEdges]="{ left: true }"
            ></div>
            <app-flight-watch-settings
                [tableData]="flightWatchDataObservable$"
                (filterChanged)="onFilterChanged($event)"
            ></app-flight-watch-settings>
        </div> -->
    </div>
</div>
