<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>

<div class="custom-key-tab" *ngIf="isMapShowing">
    <div class="custom-key-content" style="padding-left: 25px;">
        <div class="d-inline-block">
            <img src="/assets/img/airplane_FUELERLINX.png" style="width: 75%; height: 75%;">
        </div>
        <div class="d-inline-block">
            <span>FuelerLinx Client</span>
        </div>
    </div>
    <div class="custom-key-content">
        <div class="d-inline-block">
            <img src="/assets/img/airplane-FUEL_RELEASE.png" style="width: 75%; height: 75%;">
        </div>
        <div class="d-inline-block">
            <span>Active Fuel Release</span>
        </div>
    </div>
    <div class="custom-key-content">
        <div class="d-inline-block">
            <img src="/assets/img/airplane_ACTIVE.png" style="width: 75%; height: 75%;">
        </div>
        <div class="d-inline-block">
            <span>Out of Network</span>
        </div>
    </div>
    <div class="custom-key-content">
        <div class="d-inline-block">
            <img src="/assets/img/airplane_CLIENT.png" style="width: 75%; height: 75%;">
        </div>
        <div class="d-inline-block">
            <span>In Network</span>
        </div>
    </div>
</div>

<div class="after-breadcrumb flight-watch-tabs">
    <mat-tab-group (selectedTabChange)="onTabClick($event)">
        <mat-tab label="Flight Watch">
            <mat-drawer-container>

                <mat-drawer-content>
                    <mat-spinner *ngIf="!flightWatchData"></mat-spinner>
                    <div *ngIf="flightWatchData">
                        <div class="drawer-button" (click)="mapfilters.toggle()">
                            <button class="mat-dark-blue" mat-flat-button >
                                <mat-icon *ngIf="!mapfilters.opened">chevron_left</mat-icon>
                                <mat-icon *ngIf="mapfilters.opened">chevron_right</mat-icon>
                            </button>
                        </div>
                        <div class="flight-watch-container">
                            <app-flight-watch-map #map
                                                  [isStable]="flightWatchData.length > 0"
                                                  [data]="filteredFlightWatchData"
                                                  [aircraftData]= "selectedAircraftData"
                                                  [center]="center"
                                                  (markerClicked)="onFlightWatchClick($event)"
                                                  (airportClick)="openDrawer($event)"
                                                  (setIcaoList)="setIcaoList($event)"
                                                  (acukwikairport)="acukwikairport"
                                                  style="width: 100%;"></app-flight-watch-map>

                        </div>
                    </div>
                </mat-drawer-content>

                <mat-drawer mode="side" #mapfilters position='end' class="drawer-container">
                    <div *ngIf="flightWatchData">
                        <app-flight-watch-settings
                                [swimArrivals]="swimArrivals"
                                [swimDepartures]="swimDepartures"
                                [icaoList]="airportsICAO"
                                [icao]="selectedICAO"
                                [filteredTypes]="filteredTypes"
                                (filterChanged)="onFilterChanged($event)"
                                (typesFilterChanged)="onTypesFilterChanged($event)"
                                (openAircraftPopup)="openAircraftPopup($event)"
                                (icaoChanged)="updateIcao($event)"
                                (updateDrawerButtonPosition)="updateButtonOnDrawerResize()"></app-flight-watch-settings>
                    </div>
                </mat-drawer>

            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Takeoff/Landing Cycles">
            <div class="row mt-3">
                <div class="col-12">
                    <app-analytics-airport-arrivals-depatures></app-analytics-airport-arrivals-depatures>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>


</div>



