

<div *ngIf="!userInfo">
    <mat-spinner></mat-spinner>
</div>

<ni-card title="{{userInfo.firstName}} {{userInfo.lastName}}" class="mb-0" *ngIf="userInfo">
    <div>
        <mat-tab-group>

            <!--FBO Info Tab-->
            <mat-tab label="User Info">
                <div class="container-fluid">
                    <div>
                        <h5>Login Information</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="First Name" [(ngModel)]="userInfo.firstName" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Last Name" [(ngModel)]="userInfo.lastName" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Email Login" aria-label="Email Login" [(ngModel)]="userInfo.username" [email]="true" #userLoginEmail="ngModel" />
                            </mat-form-field>
                            <div *ngIf="userLoginEmail.errors?.email" style="color: red;">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field *ngIf="availableroles">
                                <mat-select placeholder="Role" [(ngModel)]="userInfo.role">
                                    <mat-option *ngFor="let role of availableroles" [value]="role.value">
                                        {{role.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="password" placeholder="New Password" [(ngModel)]="userInfo.newPassword" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="userInfo.confirmPassword" />
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <button ni-button [view]="'success'" beforeIcon="fa fa-floppy-o" (click)="saveEdit()" class="mr-1" *ngIf="(!userInfo.confirmPassword || !userInfo.newPassword || userInfo.confirmPassword.length == 0 || userInfo.newPassword.length == 0 || userInfo.newPassword === userInfo.confirmPassword)  && !userLoginEmail.errors?.email">Save Changes</button>
                        <button mat-stroked-button (click)="cancelEdit()">Cancel</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</ni-card>
