<div class="settings-filter">
    <div>
        <select class="form-select form-select-sm" aria-label="select ICAO" [(ngModel)]="icao" (ngModelChange)="updateIcao($event)">
            <option selected>Select ICAO</option>
            <ng-container *ngFor="let icao of icaoList">
                <option value="{{ icao }}">{{ icao }}</option>
            </ng-container>
        </select>
    </div>
    <div *ngIf="!isSearchAirportHidden">
        <input class="form-control form-control-sm" type="text" aria-label="Search Aircraft" placeholder="Search Aircraft" matInput (keyup)="applyFilter($event)">
    </div>
</div>
