<div class="settings-filter">
    <mat-form-field *ngIf="!isSelectAirportHidden">
        <mat-label>Select Airport</mat-label>
        <mat-select [(ngModel)]="icao" (ngModelChange)="updateIcao($event)">
            <ng-container *ngFor="let icao of icaoList">
                <mat-option value="{{ icao }}">{{ icao }}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Search Aircraft</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input placeholder="Search Aircraft" matInput (keyup)="applyFilter($event)" />
    </mat-form-field>
</div>
