.dialog-header {
    background-color: #252d47;
    color: white;
    font-size: 1.1571429rem;
    font-weight: normal;
    height: 33px;
    border-radius: 3px;
    padding: 0.3rem 1.5rem;
    margin: -24px -24px 24px;
}

.dialog-header .close-btn {
    color: white;
    cursor: pointer;
}

.dialog-header .close-btn {
    margin-right: -15px;
}
