<ni-card title="Companies' Quoting/Deal statistics" [headerBgColor]="'gray'">
    <div class="chart-container">
        <mat-form-field>
            <mat-label>Company</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>

        <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef> Company </th>
                    <td mat-cell *matCellDef="let info"> {{info.company}} </td>
                </ng-container>

                <ng-container matColumnDef="fboOrders">
                    <th mat-header-cell *matHeaderCellDef> FBO's total orders </th>
                    <td mat-cell *matCellDef="let info"> {{info.fboOrders}} </td>
                </ng-container>
            
                <ng-container matColumnDef="fboVolume">
                    <th mat-header-cell *matHeaderCellDef> FBO's $volume </th>
                    <td mat-cell *matCellDef="let info"> {{info.fboVolume}} </td>
                </ng-container>
            
                <ng-container matColumnDef="airportOrders">
                    <th mat-header-cell *matHeaderCellDef> Airport's total orders </th>
                    <td mat-cell *matCellDef="let info"> {{info.airportOrders}} </td>
                </ng-container>
            
                <ng-container matColumnDef="lastPullDate">
                    <th mat-header-cell *matHeaderCellDef> Last Pull Date </th>
                    <td mat-cell *matCellDef="let info"> {{info.lastPullDate}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <ngx-ui-loader
        [loaderId]="chartName"
        bgsPosition="center-center"
        bgsType="ball-spin"
        bgsColor="rgb(100, 181, 246)"
        overlayColor="rgba(0, 0, 0, 0.1)"
    ></ngx-ui-loader>
</ni-card>
