<div class="card-wrap"
     [ngClass]="{
    'success-card': bgColor === 'success',
    'info-card': bgColor === 'info',
    'warning-card': bgColor === 'warning',
    'danger-card': bgColor === 'danger',
    'success-color-card': color === 'success',
    'info-color-card': color === 'info',
    'warning-color-card': color === 'warning',
    'danger-color-card': color === 'danger',
    'bg-image-card': bgImage,
    'outline-card': outline
  }"
     [ngStyle]="{
   'background-color': customBgColor,
   'background-image': 'url(' + bgImage + ')',
   'border-color': customBgColor,
   'color': customColor
  }">
    <h3 class="card-header h5"
        *ngIf="title"
        [ngClass]="{
      'text-right': align === 'right',
      'text-center': align === 'center',
      'success-card-header': headerBgColor === 'success',
    'info-card-header': headerBgColor === 'info',
    'warning-card-header': headerBgColor === 'warning',
    'danger-card-header': headerBgColor === 'danger',
    'success-color-card-header': headerColor === 'success',
    'info-color-card-header': headerColor === 'info',
    'warning-color-card-header': headerColor === 'warning',
    'danger-color-card-header': headerColor === 'danger',
      'small-header': theme === 'small'
    }">
        <div class="row">
            <div class="col-10">
                {{title}}
            </div>
            <div class="col-2">
                <button *ngIf="!tempId && visible=='true'" ni-button [view]="'info'" style="background-color:#fff;" class="mr-1" (click)="openAddOnMargin()">Add On Margin</button>
            </div>
        </div>
    </h3>
    <div class="card-content"
         [ngClass]="{
      'text-right': align === 'right',
      'text-center': align === 'center'
    }"
         [ngStyle]="{'padding': indents}">
        <ng-content></ng-content>
    </div>
</div>
