<div class="bck"><h1 mat-dialog-title class="text-center">Temporary Add-On Margin (All)</h1></div>
<div mat-dialog-content class="mt-1">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <mat-form-field>
                <input matInput [matDatepicker]="categoryDatePickerFrom" (focus)="categoryDatePickerFrom.open()" placeholder="Effective from" [(ngModel)]="data.EffectiveFrom" required>
                <mat-datepicker-toggle matSuffix [for]="categoryDatePickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #categoryDatePickerFrom disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-2">
        </div>
        <div class="col-4">
            <mat-form-field>
                <input matInput [matDatepicker]="categoryDatePickerTo" (focus)="categoryDatePickerTo.open()" placeholder="Effective To" [(ngModel)]="data.EffectiveTo" required>
                <mat-datepicker-toggle matSuffix [for]="categoryDatePickerTo"></mat-datepicker-toggle>
                <mat-datepicker #categoryDatePickerTo disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 modalTxt">
            Appended Margin (JetA)
        </div>
        <div class="col-4">
            <mat-form-field>
                <input matInput type="text" autocomplete="off" (keyup)="onType(data,$event)" [(ngModel)]="data.MarginJet" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.',precision: 4}" required>
                <span matPrefix>$</span>
            </mat-form-field>
        </div>
        <div class="col-1"></div>
    </div>
        <!--<div class="row">
        <div class="col-6">
                Appended Margin (Avgas)
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" >
                <span matPrefix>$</span>
            </mat-form-field>
        </div>
    </div>-->
    <div class="row" style="margin-bottom: 3em !important;">
        <div class="col-11">

            <button ni-button style="margin-right:0px !important; float:right;" [view]="'error'" [mat-dialog-close]="data" class="mr-1 m-2" (click)="add()" [disabled]="!(data.MarginJet!=null && data.EffectiveFrom!=null && data.EffectiveTo!=null)">{{stringButton}}</button>
            <button mat-stroked-button (click)="onCancelClick()" class="mr-1 m-2" style="float: right !important;">Cancel</button>
        </div>
        <div class="col-1"></div>
    </div>
    </div>
        <!--<div mat-dialog-actions class="float-right row pr-4" >
            <button mat-stroked-button (click)="onCancelClick()" class="mr-1 m-2" >Cancel</button>
            <button ni-button [view]="'error'" [mat-dialog-close]="data" class="mr-1 m-2" (click)="add()" [disabled]="!(data.MarginJet!=null && data.EffectiveFrom!=null && data.EffectiveTo!=null)">{{stringButton}}</button>
        </div>-->
<div class="clearfix"></div>
        <footer class="text-left pt-2 pb-1">Note: This will be added on top of all existing margins (to all customers) in your account.</footer>
