<div class="bck"><h1 mat-dialog-title class="text-center">Temporary Add-On Margin (All)</h1></div>
<div mat-dialog-content class="mt-1">
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput [matDatepicker]="categoryDatePickerFrom" (focus)="categoryDatePickerFrom.open()" placeholder="Effective from" [(ngModel)]="data.EffectiveFrom" required>
                <mat-datepicker-toggle matSuffix [for]="categoryDatePickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #categoryDatePickerFrom disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput [matDatepicker]="categoryDatePickerTo" (focus)="categoryDatePickerTo.open()" placeholder="Effective To" [(ngModel)]="data.EffectiveTo" required>
                <mat-datepicker-toggle matSuffix [for]="categoryDatePickerTo"></mat-datepicker-toggle>
                <mat-datepicker #categoryDatePickerTo disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6 modalTxt">
            Appended Margin (JetA)
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" autocomplete="off" (keyup)="onType(data,$event)" [(ngModel)]="data.MarginJet" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}" required>
                <span matPrefix>$</span>
            </mat-form-field>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-6">
                Appended Margin (Avgas)
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" >
                <span matPrefix>$</span>
            </mat-form-field>
        </div>
    </div>-->
</div>
        <div mat-dialog-actions class="float-right row">
            <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
            <button ni-button [view]="'success'" [mat-dialog-close]="data" class="mr-1 m-2" (click)="add()" [disabled]="!(data.MarginJet!=null && data.EffectiveFrom!=null && data.EffectiveTo!=null)">{{stringButton}}</button>
        </div>
<div class="clearfix"></div>
        <footer class="text-center mt-4">Note: This temporary amount will be added on top of all existing margins in your account</footer>
