.bck {
    background-color: #E5E6E9;
    padding-top:24px !important;
}

footer {
    padding-bottom: 24px !important;
    background-color: #E5E6E9;
}

.mat-dialog-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.modalTxt{
    position:relative;
    top:25px;
}
