@import "../../../../assets/sass/variable";

:host(.hideSidebar) {
    display: block;
    height: auto;
}

:host {
    background: $vertical-navbar-bg;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    left: 0;
    position: absolute;
    top: 55px;
    transform: translate3d(0, 0, 0);
    transition: left 0.2s $animation, right 0.2s $animation;
    width: $vertical-navbar-width;
    will-change: left, right, width;
    z-index: 99999;
    @media only screen and (max-width: 991px) {
        width: auto;
    }

    .rtl & {
        left: auto;
        right: 0;
        @media only screen and (max-width: 991px) {
            left: auto;
            right: -($vertical-navbar-width);
        }
    }

    .vertical-navbar-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: $vertical-navbar-width;
        @media only screen and (max-width: 991px) {
            position: relative;
            z-index: 99999;
            width: auto;
        }
    }

    .sidebar-overlay {
        background: rgba($vertical-navbar-bg, 0.2);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: 0.2s opacity 0s $animation, 0s visibility 0.2s $animation;
        visibility: hidden;
        width: 100%;
        z-index: 99998;
    }
}
