<ni-card title="Orders won over time" [headerBgColor]="'gray'">
    <div class="chart-container">
        <ngx-charts-bar-vertical
            *ngIf="totalOrdersData"
            [scheme]="colorScheme"
            [results]="totalOrdersData"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
        ></ngx-charts-bar-vertical>
    </div>
    <ngx-ui-loader
        [loaderId]="chartName"
        bgsPosition="center-center"
        bgsType="ball-spin"
        bgsColor="rgb(100, 181, 246)"
        overlayColor="rgba(0, 0, 0, 0.1)"
    ></ngx-ui-loader>
</ni-card>
