:host {
    display: block;
    border: none;
    margin-bottom: 20px;
    position: relative;
}

.prices-board {
    .prices-board-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    .prices-board-item {
        margin: 15px 0px 15px 0;
    }

    .prices-board-first-column {
        flex-basis: 495px;
        flex-shrink: 0;
    }

    .prices-board-second-column {
        //flex-basis: 100px;
        /*flex-grow: 1;*/
        width: 100%;
        max-width: -moz-available !important; /* For Mozzila */
        max-width: -webkit-fill-available !important; /* For Chrome */
        max-width: stretch !important; /* Unprefixed */
    }

    .updateBtn {
        &.cdk-keyboard-focused {
            ::ng-deep {
                .mat-button-focus-overlay {
                    background: white;
                    opacity: 0.1;
                }
            }
        }
    }

    .add-on-margin-input {
        input.mat-input-element,
        .bigPrefix {
            font-size: 24px;
            font-weight: bold;
        }

        ::ng-deep {
            label.mat-form-field-label {
                font-size: 18px;
            }
        }
    }

    .expire-date {
        font-size: 0.8rem;
        font-weight: normal;
    }

    h5,
    .h5 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    h6,
    .h6 {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .clear-btn {
        line-height: 30px;

        ::ng-deep {
            .mat-progress-spinner circle,
            .mat-spinner circle {
                stroke: white;
            }
        }
    }

    .fbo-prices-error-msg {
        position: absolute;
        right: 0;
        white-space: nowrap;
        top: calc(100% + 5px);
        font-size: 12px;
        color: red;
    }

    .live-pricing-container {
        color: #6c757d;
        font-size: 0.75rem;
        padding-right: 0px;

        .d-inline-block.text-nowrap {
            max-width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .col {
            padding-right: 0px;
        }

        hr {
            border: 1px solid;
            margin: -1px -8px -1px -1px;
        }
    }

    .price-form-input {
        min-width: 120px;
        max-width: 180px;

        ::ng-deep {
            .mat-form-field-infix {
                width: auto;
            }
        }
    }
}
