<div class="container-fluid pr-0">
    <div class="prices-board">
        <div class="prices-board-row">
            <!--Pricing Update-->
            <ni-card *ngIf="!isCsr"
                     bgColor="dead"
                     class="prices-board-item prices-board-second-column"
                     customStyle="min-height: 160px;"
                     headerBgColor="dead"
                     outline="true"
                     theme="small"
                     title="Pricing Update Generator">
                <div *ngIf="!fboPricesUpdateGridItem && fboPricesUpdateGridData" class="col-12">
                    <app-fbo-prices-update-generator-grid [fboPricesUpdateData]="fboPricesUpdateData" [fboPricesUpdateGridData]="fboPricesUpdateGridData" (onEditRow)="onEditFboPrice($event)"></app-fbo-prices-update-generator-grid>
                </div>
            </ni-card>
        </div>
        <div class="prices-board-row">
            <ni-card [collapsible]="true"
                     [opened]="true"
                     bgColor="dead"
                     class="
                    prices-board-item prices-board-second-column
                    price-checker
                "
                     headerBgColor="dead"
                     outline="true"
                     theme="small"
                     title="Price Lookup">
                <price-checker #priceChecker
                               [hideFeeAndTaxGeneralBreakdown]="isCsr"
                               [hideTooltips]="isCsr"></price-checker>
            </ni-card>
        </div>
    </div>
</div>
