@import "../../../../assets/sass/variable";

:host {
    position: var(--custom-position, fixed);
    bottom: 0;
    align-items: center;
    background: $footer-bg;
    color: $footer-color;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    height: $footer-height;
    z-index: 99997;
    width: calc(100vw - 270px);
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;

    @media only screen and (max-width: 543px) {
        font-size: 0.7rem;
    }

    .copyright,
    .version {
        padding: 10px ($module-rem * 2);
    }

    .copyright {
        @media only screen and (max-width: 543px) {
            padding-right: 0;

            .rtl & {
                padding-left: 0;
                padding-right: ($module-rem * 2);
            }
        }
        a{
            color: $footer-color;
        }
    }
}
