popover-container {
    line-height: 145%;
}

.popover-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
}

.popover-content {
    font-size: 14px;
}

.popover-actions {
    padding-top: 16px;

    button {
        border: 1px solid transparent;
        border-radius: 6px;
        background: none;
        cursor: pointer;
        color: #0366d6;
        padding: 6px 10px;
        font-size: 14px;
    }

    button:first-child {
        border: 1px solid #0366d6;
    }
}
