.site-container {
    position: relative;
    padding-top: $navbar-height;
    > * {
        display: block;
    }
    > router-outlet {
        display: none;
    }
    .main-content {
        display: relative;
        -webkit-overflow-scrolling: touch;

        .main-content-wrap {
            display: table;
            height: 100%;
            padding: 22px;
            table-layout: fixed;
            width: 100%;
            padding-right: 55px;
        }
    }
}
