@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;
@import "variable";

// Define custom typography
$custom-typography: mat.define-typography-config(
  $font-family: "Lato, sans-serif"
);


// Define the color palettes for the theme
$candy-app-primary: mat.define-palette($palette);
$candy-app-accent: mat.define-palette($accent-palette);
$candy-app-warn: mat.define-palette(mat.$red-palette);

// Define the theme using mat-define-theme()
$candy-app-theme: mat.define-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn
  ),
  typography: $custom-typography,
  density: 0
));

// Apply Material core styles
@include mat.core();
@include mat.legacy-core();

// Apply the theme
@include mat.all-component-themes($candy-app-theme);
@include mat.all-legacy-component-themes($candy-app-theme);

