@import './variable';

@import './fonts';

@import './structure';
@import './typography';
@import './helpers';
@import './popover';
@import './components/material-components';
@import './components/bootstrap';

.actions-menu {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.no-arrow {
    .arrow {
        visibility: hidden;
    }
}

.divider {
    border-left: 1px solid rgba(#000,.2);
    display: inline-block;
    height: 18px;
    margin: 0 10px;
    vertical-align: bottom;
}

.mat-green {
    background-color: #81C784;
    color: #000000 !important;
}

.mat-orange {
    background-color: #FFB74D;
    color: #000000 !important;
}

.mat-button-wrapper {
    .mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }
}
