<h1 mat-dialog-title>New FBO</h1>
<div mat-dialog-content>
    <app-airport-autocomplete
        [airportContainerModel]="data"
        (valueChange)="airportValueChanged($event)"
    ></app-airport-autocomplete>
    <mat-form-field
        *ngIf="dataSources.acukwikFbos && dataSources.acukwikFbos.length > 0"
    >
        <mat-select
            id="newFbo"
            name="ddlNewFbo"
            [(ngModel)]="data.acukwikFbo"
            (ngModelChange)="fboSelectionChange()"
        >
            <mat-option
                *ngFor="let acukwikFbo of dataSources.acukwikFbos"
                [value]="acukwikFbo"
                >{{ acukwikFbo.handlerLongName }}</mat-option
            >
        </mat-select>
        <!--<input matInput placeholder="FBO Name" aria-label="FBO Name" [(ngModel)]="data.fbo">-->
    </mat-form-field>
</div>
<div class="mt-2 text-center">
    <button
        mat-flat-button
        color="accent"
        [mat-dialog-close]="data"
        class="mr-1"
        [disabled]="!data.acukwikFboHandlerId"
    >
        Add FBO
    </button>
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
</div>
