/*@import "../../../../assets/sass/variable";

.chart-container {
    width: 100%;
}

.table-container {
    height: 250px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.fbos-dropdown-filter {
    ::ng-deep {
        .p-multiselect {
            width: 30rem;

            .p-multiselect-panel {
                max-width: 100%;
            }
        }

        .p-component {
            font-size: 13px;
        }
    }
}

.actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
*/
