<!--for Add new Aircraft to Customer-->
<div *ngIf="oldCustomerAircrafts != null && newCustomerAircrafts == null">
    <table class="table table-hover table-respoisve table-bordered">
        <thead>
           <tr>
               <th>Name</th>
               <th>Old Data</th>
           </tr>
         </thead>

           <tbody>
                <!--Tial Number-->
            <tr>
                <th>Tail Number</th>
                <td>{{oldCustomerAircrafts.tailNumber}}</td>
            </tr>

            <!--Type-->
             <tr>
             <th>Type</th>
                <th>{{oldCustomerAircrafts.make }} {{oldCustomerAircrafts.model }}</th>
            </tr>

           </tbody>
 </table>
</div>


<!--for Delete Exsiting Aircraft of Customer-->
<div *ngIf="oldCustomerAircrafts == null && newCustomerAircrafts != null">
    <table class="table table-hover table-respoisve table-bordered">
        <thead>
           <tr>
               <th>Name</th>
               <th>New Data</th>
           </tr>
         </thead>

           <tbody>
                <!--Tial Number-->
            <tr>
                <th>Tail Number</th>
                <td>{{newCustomerAircrafts.tailNumber}}</td>
            </tr>

            <!--Type-->
             <tr>
             <th>Type</th>
                <th>{{newCustomerAircrafts.make }} {{newCustomerAircrafts.model }}</th>
            </tr>

           </tbody>
 </table>
</div>
