<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<app-fbo-prices-panel
    style="
        position: absolute;
        top: -14px;
        right: 62px;
    "
></app-fbo-prices-panel>

<div>
    <div *ngIf="fuelreqsData">
        <app-fuelreqs-grid
            [fuelreqsData]="fuelreqsData"
            [filterStartDate]="filterStartDate"
            [filterEndDate]="filterEndDate"
            (dateFilterChanged)="dateFilterChanged($event)"
            (exportTriggered)="export($event)"
        ></app-fuelreqs-grid>
    </div>
    <div *ngIf="!(fuelreqsData)">
        <mat-spinner></mat-spinner>
    </div>
</div>
