<ni-card>
    <div *ngIf="isFuelOrdersShowing">
        <div *ngIf="fuelreqsData">
            <app-fuelreqs-grid
                (dateFilterChanged)="dateFilterChanged($event)"
                [filterEndDate]="filterEndDate"
                [filterStartDate]="filterStartDate"
                [fuelreqsData]="fuelreqsData"
                 [servicesAndFees]="servicesAndFees"
            ></app-fuelreqs-grid>
        </div>
        <div *ngIf="!fuelreqsData">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</ni-card>
