<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>

<div class="after-breadcrumb">
    <mat-tab-group (selectedTabChange)="onTabClick($event)" [selectedIndex]="selectedTabIndex">
        <mat-tab label="Fuel Orders">
            <div *ngIf="isFuelOrdersShowing">
                <div *ngIf="fuelreqsData">
                    <app-fuelreqs-grid (dateFilterChanged)="dateFilterChanged($event)"
                                       [filterEndDate]="filterEndDate"
                                       [filterStartDate]="filterStartDate"
                                       [fuelreqsData]="fuelreqsData"></app-fuelreqs-grid>
                </div>
                <div *ngIf="!fuelreqsData">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Missed Orders">
            <app-missedorders-grid></app-missedorders-grid>
        </mat-tab>
    </mat-tab-group>
</div>
