
<div *ngIf="!currentPrices">
    <mat-spinner></mat-spinner>
</div>

<div class="container-fluid" *ngIf="currentPrices && distributionLog">
    <div class="row mb-2" *ngIf="isSaved">
        <div class="text-center col-12">
            <ni-badge [size]="'medium'" [color]="'success'">Your changes have been saved.</ni-badge>
        </div>
    </div>
<!--<div class="row mb-2" *ngIf="requiresUpdate">
    <div class=" text-center col-12">
        <button ni-button [view]="'success'" class="mr-1" beforeIcon="fa fa-usd" (click)="saveChangesClicked()">Save Changes</button>
    </div>
</div>-->
<!--<div class="row mb-2" *ngIf="!requiresUpdate">
    <div class=" text-center col-12">
        <button ni-button [view]="'warning'" beforeIcon="fa fa-usd" (click)="distributePricingClicked()">Distribute Pricing</button>
    </div>
</div>-->
<!--<div class="row">
    <div class="col">
        <ni-card title="Preferences" class="mb-0">
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <mat-slide-toggle color="accent" (change)="retailJetAToggled()" [(ngModel)]="fboPreferences.omitJetARetail">Hide JetA Retail</mat-slide-toggle>
                        </div>
                        <div class="col-6 col-md-3">
                            <mat-slide-toggle color="accent" (change)="costJetAToggled()" [(ngModel)]="fboPreferences.omitJetACost">Hide JetA Cost</mat-slide-toggle>
                        </div>
                        <div class="col-6 col-md-3">
                            <mat-slide-toggle color="accent" (change)="fboPreferenceChange()" [(ngModel)]="fboPreferences.omit100LLRetail">Hide 100LL Retail</mat-slide-toggle>
                        </div>
                        <div class="col-6 col-md-3">
                            <mat-slide-toggle color="accent" (change)="fboPreferenceChange()" [(ngModel)]="fboPreferences.omit100LLCost">Hide 100LL Cost</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </ni-card>
    </div>
</div>-->
<div class="row">
    <div class="col-md-3 mt-3">
        <ni-card [bgColor]="'info'" [outline]="true" [color]="'success'" *ngIf="(currentFboPriceJetARetail && currentFboPriceJetARetail.price > 0) || activePrice;else notValid">
            <h6 class="mt-0 title">CURRENT POSTED RETAIL (JET A)</h6>
            <h4 class="mt-0">
                {{currentFboPriceJetARetail.price | currency:'USD'}}
            </h4>
        </ni-card>
        <ng-template #notValid>
            <ni-card [bgColor]="'info'" [outline]="true" [color]="'success'">
                <h6 class="mt-0 title">CURRENT POSTED RETAIL (JET A)</h6>
                <h4 class="mt-0">
                    EXPIRED
                </h4>
            </ni-card>
        </ng-template>
        <ni-card [bgColor]="'info'" [outline]="true" [color]="'danger'" *ngIf="(currentFboPriceJetACost && currentFboPriceJetACost.price > 0) || activePrice;else notValidJet">
            <h6 class="mt-0 title">CURRENT COST (JET A)</h6>
            <h4 class="mt-0">
                {{currentFboPriceJetACost.price | currency:'USD'}}
            </h4>
            <small>Cost pricing is confidential and not publicly displayed.  It is only used to calculate Cost+ Pricing</small>
        </ni-card>
        <ng-template #notValidJet>
            <ni-card [bgColor]="'info'" [outline]="true" [color]="'danger'">
                <h6 class="mt-0 title">CURRENT COST (JET A)</h6>
                <h4 class="mt-0">
                    EXPIRED
                </h4>
                <small>Cost pricing is confidential and not publicly displayed.  It is only used to calculate Cost+ Pricing</small>
            </ni-card>
        </ng-template>
    </div>
<div class="col-md-8 mt-3">
    <ni-card title="Update your pricing here" [headerBgColor]="'success'" class="mb-0">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field>
                            <input matInput [(ngModel)]="currentPricingEffectiveFrom" [matDatepicker]="currentPricingEffectiveFromDatePicker" (focus)="currentPricingEffectiveFromDatePicker.open()" placeholder="Effective From" (dateChange)="fboCurrentPriceDateChange({})">
                            <mat-datepicker-toggle matSuffix [for]="currentPricingEffectiveFromDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #currentPricingEffectiveFromDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <input matInput [min]="minimumAllowedDate" [(ngModel)]="currentPricingEffectiveTo" [matDatepicker]="currentPricingEffectiveToDatePicker" (focus)="currentPricingEffectiveToDatePicker.open()" placeholder="Effective To" (dateChange)="fboCurrentPriceDateChange({})">
                            <mat-datepicker-toggle matSuffix [for]="currentPricingEffectiveToDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #currentPricingEffectiveToDatePicker disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-1">
                        <div style="position: absolute; bottom: 40%;">
                            JetA
                        </div>
                    </div>
                    <div class="col-5" *ngIf="currentFboPriceJetACost && currentFboPriceJetARetail">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <input matInput placeholder="Cost" autocomplete="off" [(ngModel)]="currentFboPriceJetACost.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(currentFboPriceJetACost)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}" />
                                    <span matPrefix>$</span>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <input matInput placeholder="Retail" autocomplete="off" [(ngModel)]="currentFboPriceJetARetail.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(currentFboPriceJetARetail)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}" />
                                    <span matPrefix>$</span>
                                </mat-form-field>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12">
                        <div class="float-right" *ngIf="requiresUpdate">
                            <button ni-button [view]="'success'" class="mr-1" (click)="saveChangesClicked()">Post Live Pricing</button>
                        </div>
                    </div>
                </div>

                <!--<div class="row" *ngIf="currentFboPrice100LLCost && currentFboPrice100LLRetail && (!fboPreferences.omit100LLCost || !fboPreferences.omit100LLRetail)">
                    <div class="col-3">
                        <div style="position: absolute; bottom: 40%;">
                            100LL
                        </div>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omit100LLCost">
                        <mat-form-field>
                            <input matInput placeholder="Cost" [(ngModel)]="currentFboPrice100LLCost.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(currentFboPrice100LLCost)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omit100LLRetail">
                        <mat-form-field>
                            <input matInput placeholder="Retail" [(ngModel)]="currentFboPrice100LLRetail.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(currentFboPrice100LLRetail)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                </div>-->
                <!--<div class="row font-weight-bold small">
                    <div class="col-3">
                        Fuel Type
                    </div>
                    <div class="col-3">
                        Price
                    </div>
                    <div class="col-3">
                        Starting
                    </div>
                    <div class="col-3">
                        End
                    </div>
                </div>
                <hr/>
                <div class="row font-weight-bold small mt-0" *ngFor="let fboPrice of currentPrices;  let j = index;">
                    <div class="col-3">
                        <div style="position: absolute; bottom: 40%;">
                            {{fboPrice.product}}
                        </div>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <input matInput placeholder="Price" [(ngModel)]="fboPrice.price" type="number" (change)="fboPriceRequiresUpdate(fboPrice)"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>

                    <div class="col-3">
                        <mat-form-field>
                            <input matInput [(ngModel)]="fboPrice.effectiveFrom" [matDatepicker]="effectiveFromDatePicker_j" placeholder="Effective From" disabled (dateChange)="fboPriceRequiresUpdate(fboPrice)">
                            <mat-datepicker-toggle matSuffix [for]="effectiveFromDatePicker_j"></mat-datepicker-toggle>
                            <mat-datepicker #effectiveFromDatePicker_j></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <input matInput [max]="fboPrice.maxDate" [min]="minimumAllowedDate" [(ngModel)]="fboPrice.effectiveTo" [matDatepicker]="effectiveToDatePicker_j" placeholder="Effective To" disabled (dateChange)="fboPriceDateChange(fboPrice)">
                            <mat-datepicker-toggle matSuffix [for]="effectiveToDatePicker_j"></mat-datepicker-toggle>
                            <mat-datepicker #effectiveToDatePicker_j disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>-->
            </div>
        </div>
    </ni-card>
</div>
<!--<div class="col-md-6 mt-3">
    <ni-card title="Staged Prices" [headerBgColor]="'info'" class="mb-0">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput [min]="stagedPricingEffectiveFrom" [(ngModel)]="stagedPricingEffectiveFrom" [matDatepicker]="stagedPricingEffectiveFromDatePicker" (focus)="stagedPricingEffectiveFromDatePicker.open()" placeholder="Effective From" (dateChange)="fboStagedPriceDateChange({})">
                            <mat-datepicker-toggle matSuffix [for]="stagedPricingEffectiveFromDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #stagedPricingEffectiveFromDatePicker disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput [min]="stagedPricingEffectiveFrom" [(ngModel)]="stagedPricingEffectiveTo" [matDatepicker]="stagedPricingEffectiveToDatePicker" (focus)="stagedPricingEffectiveToDatePicker.open()" placeholder="Effective To" (dateChange)="fboStagedPriceDateChange({})">
                            <mat-datepicker-toggle matSuffix [for]="stagedPricingEffectiveToDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #stagedPricingEffectiveToDatePicker disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="stagedFboPriceJetACost && stagedFboPriceJetARetail && (!fboPreferences.omitJetACost || !fboPreferences.omitJetARetail)">
                    <div class="col-3">
                        <div style="position: absolute; bottom: 40%;">
                            JetA
                        </div>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omitJetACost">
                        <mat-form-field>
                            <input matInput placeholder="Cost" [(ngModel)]="stagedFboPriceJetACost.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(stagedFboPriceJetACost)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omitJetARetail">
                        <mat-form-field>
                            <input matInput placeholder="Retail" [(ngModel)]="stagedFboPriceJetARetail.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(stagedFboPriceJetARetail)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="stagedFboPrice100LLCost && stagedFboPrice100LLRetail && (!fboPreferences.omit100LLCost || !fboPreferences.omit100LLRetail)">
                    <div class="col-3">
                        <div style="position: absolute; bottom: 40%;">
                            100LL
                        </div>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omit100LLCost">
                        <mat-form-field>
                            <input matInput placeholder="Cost" [(ngModel)]="stagedFboPrice100LLCost.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(stagedFboPrice100LLCost)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                    <div class="col-3" *ngIf="!fboPreferences.omit100LLRetail">
                        <mat-form-field>
                            <input matInput placeholder="Retail" [(ngModel)]="stagedFboPrice100LLRetail.price" type="text" (ngModelChange)="fboPriceRequiresUpdate(stagedFboPrice100LLRetail)" currencyMask [options]="{prefix: '', thousands: ',', decimal: '.'}"/>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </ni-card>
</div>-->
<!--<div class="col-md-6 mt-3">
    <ni-card title="Distribution Log" [headerBgColor]="'warning'" class="mb-0">
        <div>
            <div class="container-fluid">
                <div class="row font-weight-bold small mb-1">
                    <div class="col-3">
                        Date Sent
                    </div>
                    <div class="col-3">
                        Margin Template
                    </div>
                    <div class="col-3">
                        Customer
                    </div>
                    <div class="col-3">
                        Customer Type
                    </div>
                </div>
                <hr/>
                <div class="row small mt-2" *ngFor="let logRecord of distributionLog">
                    <div class="col-3">
                        {{logRecord.dateSent | date:'medium'}}
                    </div>
                    <div class="col-3">
                        {{logRecord.pricingTemplateName}}
                    </div>
                    <div class="col-3">
                        {{logRecord.customerName}}
                    </div>
                    <div class="col-3">
                        {{logRecord.customerCompanyTypeName}}
                    </div>
                </div>
            </div>
        </div>
    </ni-card>
</div>-->
</div>
</div>
