:host {
    display: block;
    border: 1px solid #e5e6e9;
    margin-top: 25px;
    margin-bottom: 20px;
    position: relative;

    .pricing-display-board {
        min-width: 495px;
        width: 495px;
    }

    .pricing-update-board {
        width: calc(100% - 510px);

        .pricing-name {
            min-width: 47px;
        }
    
        .mat-form-field {
            min-width: 120px;
            max-width: 180px;
    
            ::ng-deep {
                .mat-form-field-infix {
                    width: auto;
                }
            }
        }
    }

    .add-on-margin-board {
        min-width: 495px;
        width: 495px;
    }

    @media (max-width: 1425px) {
        .pricing-update-board {
            width: 100%;
        }
    }

    @media (max-width: 1360px) {
        .pricing-page {
            flex-direction: column;
        }

        .pricing-update-board {
            width: 100%;
        }

        .add-on-margin-board {
            margin-top: 0 !important;
        }
    }

    .expire-date {
        font-size: 0.8rem;
        font-weight: normal;
    }

    h5, .h5 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    h6, .h6 {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .clear-btn {
        line-height: 30px;

        ::ng-deep {
            .mat-progress-spinner circle, .mat-spinner circle {
                stroke: white;
            }
        }
    }

    .fbo-prices-error-msg {
        position: absolute;
        right: 0;
        white-space: nowrap;
        top: calc(100% + 5px);
        font-size: 12px;
        color: red;
    }

    .add-on-margin-input {
        input.mat-input-element, .bigPrefix {
            font-size: 24px;
            font-weight: bold;
        }

        ::ng-deep {
            label.mat-form-field-label {
                font-size: 18px;
            }
        }
    }

    .updateBtn {
        &.cdk-keyboard-focused {
            ::ng-deep {
                .mat-button-focus-overlay {
                    background: white;
                    opacity: 0.1;
                }
            }
        }
    }

    .tailLookupInfo {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        &>div:first-child {
            width: 130px;
        }
    }
}
