<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [value]="searchValue" placeholder="Search by Group, FBO, User, ...">
    <span matPrefix><i class="fa fa-search"></i></span>
</mat-form-field>

<ejs-grid
    #grid
    [dataSource]='groupDataSource'
    [childGrid]='childGrid'
    (rowSelected)="rowSelected($event)"
    [allowPaging]='true'
    [pageSettings]='pageSettings'
>
    <e-columns>
        <e-column field='groupName' headerText='Group'></e-column>
        <e-column>
            <ng-template #template let-data>
                <span class="need-attention" [ngClass]="{'good': data.needAttentionCustomers == 0 }">
                    {{data.needAttentionCustomers}} Need Attentions
                </span>
            </ng-template>
        </e-column>
        <e-column field='active' headerText='Active'></e-column>
        <e-column width=200>
            <ng-template #headerTemplate let-data>
                <button ni-button [view]="'accent'" beforeIcon="fa fa-plus" (click)="addNew()">Add New</button>
            </ng-template>
            <ng-template #template let-data>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Group Actions" clickStopPropagation>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item clickStopPropagation (click)="deleteGroup(data)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete Group</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="fbosMenu" [disabled]="!groupFbos(data.index).length" clickStopPropagation>
                        <span>Delete FBO</span>
                    </button>
                </mat-menu>
                <mat-menu #fbosMenu="matMenu">
                    <button mat-menu-item clickStopPropagation *ngFor="let fbo of groupFbos(data.index)" (click)="deleteFbo(fbo)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>{{fbo.fbo}}</span>
                    </button>
                </mat-menu>
            </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>

<ng-template #fboManageTemplate let-data>
    <button ni-button [view]="'warning'" size="small" beforeIcon="fa fa-briefcase" (click)="manageFBO(data)" clickStopPropagation>Manage</button>
</ng-template>

<ng-template #needAttentionTemplate let-data>
    <span class="need-attention" [ngClass]="{'good': data.needAttentionCustomers == 0 }">
        {{data.needAttentionCustomers}} Need Attentions
    </span>
</ng-template>

<ng-template #lastLoginTemplate let-data>
    {{data.lastLogin | date:'medium'}}
</ng-template>
