::ng-deep {
    //checkk of can be removed
    .status {
        color: red;
        font-weight: bold;

        &.good {
            color: #81c784;
        }
    }
    .mat-row:hover {
        background-color: transparent;
    }
}

.filter {
    max-width: 400px;
    margin-right: 20px;
}

.actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-filter {
    max-width: 100px;
    margin-right: 50px;
}

.table-container {
  height: calc(100vh - 215px);
  overflow: auto;
}


table {
    width: 100%;
  }

  .expanded-detail {
    padding: 20px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  tr.example-detail-row :hover {
    background-color: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }