::ng-deep {
    .e-grid {
        .e-headercell,
        .e-detailheadercell {
            height: 60px;
        }

        .e-detailcell {
            .e-headercell {
                height: 40px;
            }
        }

        .e-headercelldiv {
            height: auto;
        }

        .e-rowcell {
            padding: 12px 21px;
        }

        .e-toolbar-right {
            left: 0;
        }
    }

    .status {
        color: red;
        font-weight: bold;

        &.good {
            color: #81c784;
        }
    }
}

.filter {
    max-width: 400px;
    margin-right: 20px;
}

.actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-filter {
    max-width: 100px;
    margin-right: 50px;
}

.table-container {
  height: calc(100vh - 265px);
  overflow: auto;
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }