::ng-deep {
    .e-grid {
        .e-headercell, .e-detailheadercell {
            height: 60px;
        }

        .e-detailcell {
            .e-headercell {
                height: 40px;
            }
        }

        .e-headercelldiv {
            height: auto;
        }

        .e-rowcell {
            padding: 12px 21px;
        }

        .e-toolbar-right {
            left: 0;
        }
    }

    .status {
        color: red;
        font-weight: bold;

        &.good {
            color: #81C784;
        }
    }
}

.filter {
    max-width: 400px;
    margin-right: 20px;
}

.actions {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-filter {
    max-width: 100px;
    margin-right: 50px;
}
