<h1 mat-dialog-title>New Aircraft</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <input matInput placeholder="Tail Number" aria-label="Tail Number" [(ngModel)]="data.tailNumber" cdkFocusInitial>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Type" [(ngModel)]="data.selectedAircraft" (selectionChange)="onAircraftTypeChanged()">
                <mat-option *ngFor="let aircraftType of aircraftTypes" [value]="aircraftType">
                    {{aircraftType.make}} {{aircraftType.model}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Type" [(ngModel)]="data.size">
                <mat-option *ngFor="let aircraftSize of aircraftSizes" [value]="aircraftSize.value">
                    {{aircraftSize.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="mt-2 text-center">
    <button ni-button [view]="'accent'" [mat-dialog-close]="data" class="mr-1">Add Aircraft</button>
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
</div>
