@import '../../../../assets/sass/variable';

:host {
    display: block;
    position: relative;

    .table-container {
        min-height: 300px;
        padding-top: 20px;
    }

    ::ng-deep {
        .mat-tab-header {
            position: fixed;
            background: $main-bg;
            width: 100%;
            z-index: 1001;
        }

        .mat-tab-body-wrapper {
            margin-top: 49px;
        }
    }
}
