update c set certificatetype=CASE WHEN CHARINDEX('corp', co.CertificateType) > 0 OR CHARINDEX('pers', co.CertificateType) > 0 OR CHARINDEX('non-business', co.CertificateType) > 0 OR CHARINDEX('test', co.CertificateType) > 0 OR			CHARINDEX('pri', co.CertificateType) > 0			THEN 91					WHEN CHARINDEX('char', co.CertificateType) > 0 OR CHARINDEX('part', co.CertificateType) > 0 OR CHARINDEX('rev', co.CertificateType) > 0 OR				(CHARINDEX('management', co.CertificateType) > 0 AND CHARINDEX('non-airline', co.CertificateType) > 0)			THEN 135		WHEN  ((CHARINDEX('management', co.CertificateType) > 0 AND CHARINDEX('non-airline', co.CertificateType) > 0) OR CHARINDEX('train', co.CertificateType) > 0 OR CHARINDEX('sched', co.CertificateType) > 0)			THEN 121		END from sqlfl.dbo.companies coinner join customers c on co.oid=c.fuelerlinxid or co.oid=-c.fuelerlinxid