<h1 mat-dialog-title>Confirm Aircraft Removal</h1>
<div mat-dialog-content *ngIf="data">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p>Are you sure you want to delete {{ data.tailNumber }}?</p>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button
        ni-button
        [view]="'success'"
        [mat-dialog-close]="data"
        beforeIcon="fa fa-trash-o"
        class="mr-1"
        style="background-color: #dc143c; color: white;"
    >
        Delete
    </button>
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>&nbsp;
</div>
