<a routerLink="." class="close" [mat-dialog-close]="true"><i class="material-icons">clear</i></a>
<h1 mat-dialog-title class="text-center">Sign in to FBOLinx</h1>
<div mat-dialog-content class="mt-1 mb-2" style="max-width: 600px;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-hint *ngIf="error" class="text-danger">{{ error }}</mat-hint>
    </mat-form-field>

    <div class="text-left mb-module">
      <mat-checkbox formControlName="remember">
        Keep me signed in
      </mat-checkbox>
    </div>

    <button mat-flat-button class="mt-3" color="accent" type="submit">Sign In</button>
  </form>
</div>
<div mat-dialog-actions>
  <div class="text-center col-12">
    <a>Sign up</a>
    <span class="divider"></span>
    <a>Forgot your password?</a>
  </div>
</div>
