google-map {
    ::ng-deep {
        .map-container {
            width: 100% !important;
            height: calc(100vh - 221px) !important;
        }

        a[href^="http://maps.google.com/maps"] {
            display:none !important
        }
        a[href^="https://maps.google.com/maps"] {
            display:none !important
        }

        .gmnoprint a, .gmnoprint span, .gm-style-cc {
            display:none;
        }
    }
}
