<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<div *ngIf="!pricingTemplate || isSaving">
    <mat-spinner></mat-spinner>
</div>

<ni-card title="{{pricingTemplate.name}}" class="mb-0" *ngIf="pricingTemplate && !isSaving">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h5>General Information</h5>
                </div>
                <div class="col-6 text-right font-italic" *ngIf="currentPrice && [0,1].indexOf(pricingTemplate.marginType) > -1">
                    <h5 style="font-weight: 400;">{{currentPrice.product}}: {{currentPrice.price | currency:'USD'}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-slide-toggle color="accent" [(ngModel)]="pricingTemplate.default">Default</mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="pricingTemplate.name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-select placeholder="Type" [(ngModel)]="pricingTemplate.marginType" (selectionChange)="marginTypeChange()">
                            <mat-option *ngFor="let marginType of marginTypeDataSource" [value]="marginType.value">
                                {{marginType.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h5>Price Tiers</h5>
                </div>
            </div>
            <div class="row">
                <table class="mat-table" style="min-width: 75%;">
                    <thead>
                        <tr class="mat-header-row">
                            <th class="text-center">Min. (gal)</th>
                            <th class="text-center">Margin</th>
                            <th class="text-center">ITP</th>
                            <th class="text-right">
                                <button ni-button [view]="'accent'" beforeIcon="fa fa-plus" (click)="addCustomerMargin()">Add New</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customerMargin of pricingTemplate.customerMargins" class="mat-row">
                            <td class="mat-cell">
                                <mat-form-field>
                                    <input matInput (keyup.enter)="fixCustomerMargins()" (blur)="fixCustomerMargins()" [(ngModel)]="customerMargin.min" />
                                </mat-form-field>
                            </td>
                            <td class="mat-cell">
                                <div>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="customerMargin.amount" (focus)="onFocus()" (focusout)="outFocus()"  (keyup)="onType(customerMargin,$event)" (blur)="customerMarginAmountChanged(customerMargin)" currencyMask [options]="{prefix: '$', thousands: ',', decimal: '.'}" />
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="mat-cell text-center font-weight-bold font-italic text-right">
                                <div>{{customerMargin.itp | currency:'USD'}}</div>
                            </td>
                            <td class="text-right mat-cell">
                                <button ni-button [view]="'error'" size="small" beforeIcon="fa fa-trash" (click)="deleteCustomerMargin(customerMargin)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row mt-2">
                <h5>Subject</h5>
            </div>
            <div class="row">
                <input matInput placeholder="Subject" [(ngModel)]='pricingTemplate.subject' aria-label="Subject" />
            </div>
            <div class="row">
                <br />
            </div>

            <div class="row mt-2">
                <h5>Notes</h5>
            </div>
            <div class="row">
                <ejs-richtexteditor #typeRTE id='rteNotes' (focusout)="enableToolbarNote()" (focus)="disableToolbarNote()" [(value)]='pricingTemplate.notes'></ejs-richtexteditor>
            </div>
            <div class="row">
                <br />
            </div>

            <div class="row mt-2">
                <h5>Distribution Emails</h5>
            </div>
            <div class="row">
                <ejs-richtexteditor #typeEmail id='rteEmail' (focusout)="enableToolbarEmail()" (focus)="disableToolbarEmail()"  [(value)]='pricingTemplate.email'></ejs-richtexteditor>
            </div>
            <div class="row">
                <br />
            </div>
            <div class="row">
                <button ni-button [view]="'success'" beforeIcon="fa fa-floppy-o" (click)="savePricingTemplate()" class="mr-1">Save Changes</button>
                <button mat-stroked-button (click)="cancelPricingTemplateEdit()">Cancel</button>
            </div>
        </div>
    </div>
</ni-card>
