:host {
    display: block;
    overflow: auto;
}

mat-card {
    height: 100%;
    width: 0;
    border-radius: 0;
    position: relative;

    mat-card-title,
    mat-card-subtitle {
        white-space: nowrap;
        overflow: hidden;
    }

    mat-card-content {
        white-space: nowrap;
        overflow: hidden;

        h6 {
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: 400;

            span {
                font-weight: bold;
            }
        }
    }
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}
