<div class="row">
    <div class="col-8">
    <ul class="breadcrumb" [ngClass]="getClasses()">
        <li *ngFor="let item of menu; let last = last">
            <a href="{{item.link}}" *ngIf="item.link"><span class="icon {{item.icon}}" *ngIf="item.icon"></span>{{item.title}}</a>
            <!--
            -->
            <span class="static" *ngIf="!item.link"><span class="icon {{item.icon}}" *ngIf="item.icon"></span>{{item.title}}</span>
            <!--
            -->
            <span class="separator" *ngIf="!last">{{separator}}</span>
        </li>
    </ul>
     </div>
    <div class="col-4">
        <div class="row">
            <div class="col-5 retailCl" *ngIf="currentFboPriceJetARetail.price && currentFboPriceJetARetail.price > 0">
                <h6 class="mt-1 mb-1 title p-1">RETAIL (JET A)    ${{currentFboPriceJetARetail.price | number:'1.4-4'}}</h6>
            </div>
            <div class="col-5 costCl" *ngIf="currentFboPriceJetACost.price && currentFboPriceJetACost.price > 0">
                <h6 class="mt-1 mb-1 title p-1">COST (JET A)    ${{currentFboPriceJetACost.price | number:'1.4-4'}}</h6>
            </div>
        </div>
    </div>
</div>
