@import "../../../assets/sass/variable";

:host {
    top: $navbar-height;
    align-items: center;
    .breadcrumb-container{
        padding: 24px 0 50px 0;
        margin-top: -100px;
    }
    display:flex;
    align-items: center;
    .dashboard-title {
       margin-top: -130px;
    }
    @media only screen and (max-width: 767px) {
        margin-top: 0px;
        text-align: center;
    }
}
