<h1 mat-dialog-title>New User</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field *ngIf="availableroles">
            <mat-select placeholder="Role" [(ngModel)]="data.role">
                <mat-option *ngFor="let role of availableroles" [value]="role.value">
                    {{role.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="First Name" aria-label="First Name" [(ngModel)]="data.firstName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Last Name" aria-label="Last Name" [(ngModel)]="data.lastName">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput name="userLoginEmail" placeholder="Email Login" aria-label="Email Login" [(ngModel)]="data.username" [email]="true" #userLoginEmail="ngModel">
        </mat-form-field>
    </div>
    <div *ngIf="userLoginEmail.errors?.email" style="color: red;">
        Please enter a valid email address.
    </div>
    <div>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" aria-label="Password" [(ngModel)]="data.newPassword">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" aria-label="Confirm Password" [(ngModel)]="data.confirmPassword">
        </mat-form-field>
    </div>
    <div class="text-danger" *ngIf="data.confirmPassword && data.confirmPassword.length > 0 && data.newPassword && data.newPassword.length > 0 && data.newPassword != data.confirmPassword">
        Passwords must match
    </div>
</div>
<div class="mt-2 text-center">
    <button ni-button [view]="'accent'" [mat-dialog-close]="data" class="mr-1" *ngIf="data.confirmPassword && data.confirmPassword.length > 0 && data.newPassword && data.newPassword.length > 0 && data.newPassword === data.confirmPassword && !userLoginEmail.errors?.email">Add User</button>
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
</div>
