<h1 mat-dialog-title>Manage FBO?</h1>
<div mat-dialog-content class="mt-1 mb-2">
    <div class="text-center">
        This will temporarily switch your account to a primary user for this FBO.  Would you like to continue?
    </div>
</div>
<div mat-dialog-actions>
    <div class="text-center col-12">
        <button
            mat-flat-button
            color="accent"
            [mat-dialog-close]="data"
            class="mr-1"
        >Confirm</button>
        <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
    </div>
</div>
