<div>
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 4px;">
                    FBO
                </th>
                <th style="border: 1px solid black; padding: 4px;">
                    Volume Tier
                </th>
                <th style="border: 1px solid black; padding: 4px;">
                    Price
                </th>
                <th style="border: 1px solid black; padding: 4px;">
                    Tail Numbers
                </th>
            </tr>
        </thead>
        <tbody>
            %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
</div>