<div [ngClass]="layoutClasses" class="site-container">
    <app-vertical-navbar [ngClass]="{ hideSidebar: !openedSidebar }"
                         [isMenuVisible]="openedSidebar"></app-vertical-navbar>

    <app-horizontal-navbar (sidebarState)="sidebarState()"
                           [title]="pageTitle"></app-horizontal-navbar>

    <div [ngClass]="{ 'full-width': !openedSidebar, 'sticky-panel-csr' : isCsr }" class="container-fluid sticky-panel">
        <div [ngClass]="{ 'row-csr' : isCsr }" class="row">
            <div class="col-12 text-md-right pt-md-0">
                <div class="d-inline-block">
                    <app-fbo-prices-panel *ngIf="isPricePanelVisible()"
                                          [enableSaf]="enableSaf"
                                          [enableJetA]="enableJetA"
                                          [costSaf]="costSaf"
                                          [retailSaf]="retailSaf"
                                          [costJetA]="costJetA"
                                          [retailJetA]="retailJetA"
                                          [effectiveToSaf]="effectiveToSaf"
                                          [effectiveToJetA]="effectiveToJetA"
                                          (onClearFboPrice)="onClearFboPrice($event)"></app-fbo-prices-panel><!-- class="d-none d-md-block"-->
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isAdditionNavBarVisible()">
        <div *ngIf="pricingTemplatesData && isNotGroupAdmin">
            <app-addition-navbar #insideElement
                                [templatelst]="pricingTemplatesData"></app-addition-navbar>
        </div>
    </ng-container>
    <main [ngClass]="{ 'full-width': !openedSidebar }"
          class="main-content">

        <div class="main-content-wrap">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </main>

    <div class="app-overlay"></div>
</div>
