<h1 mat-dialog-title>Pricing Expired</h1>
<div mat-dialog-content class="mt-1 mb-2">
    <div class="text-center">
        Pricing for some of your FBOs has expired. Please click below to navigate to their FBO page and update the pricing.
    </div>
    <div class="text-center marginTop20">
        <div *ngFor="let fbo of data" class="marginTop20">
            <button ni-button [view]="'accent'" (click)="onManageClick(fbo)"> Manage {{fbo.fboName}} </button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="text-center col-12">
        <button ni-button [view]="'warning'" class="float-right" style="margin-left:5px;" (click)="onRemindMeLaterClick()">Remind Me Later</button>&nbsp;
        <button mat-stroked-button class="float-right" (click)="onCancelClick()">Dismiss</button>&nbsp;
    </div>
</div>
