<h1 mat-dialog-title>Send Preview Email</h1>
<div mat-dialog-content>
  <div class="mb-3">
    Please provide your email address below.
  </div>
  <div>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" aria-label="Email" [(ngModel)]="previewEmail" [email]="true" #email="ngModel">
    </mat-form-field>
    <div *ngIf="email.errors?.email" style="color: red;">
      Please enter a valid email address.
    </div>
  </div>
</div>
<div class="mt-2 text-center">
  <button mat-flat-button
          color="accent"
          [mat-dialog-close]="previewEmail"
          class="mr-1"
          [disabled]="!previewEmail || !previewEmail.length">
    Send Preview Email
  </button>
  <button mat-stroked-button (click)="closeDialog()">Cancel</button>
</div>
