<div class="navbar-wrap">
    <div
        class="navbar-button"
        [ngClass]="{ open: openedSidebar }"
        (click)="openSidebar()"
    >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <h1 class="page-title">{{ title }}</h1>
    <h2
        *ngIf="fbo && fbo.fbo && fboAirport && fboAirport.icao"
        class="page-info"
    >
        {{ fbo.fbo }} / {{ fboAirport.icao }}
    </h2>
    <div class="nav-items">
        <div
            class="nav-item"
            [ngClass]="{ opened: needsAttentionMenu.isOpened }"
        >
            <a (click)="openUpdate()" class="nav-link">
                <span class="icon sli-bell"></span>
                <span
                    [ngClass]="{
                        marker:
                            (needsAttentionCustomersData &&
                            needsAttentionCustomersData.length > 0) ||
                            (hasLoadedJetACost && !currrentJetACostPricing) ||
                            (hasLoadedJetARetail && !currrentJetARetailPricing)
                    }"
                ></span>
            </a>

            <div class="dropdown-menu">
                <h4
                    class="menu-title"
                    *ngIf="
                        (hasLoadedJetACost && !currrentJetACostPricing) ||
                        (hasLoadedJetARetail && !currrentJetARetailPricing) ||
                        (needsAttentionCustomersData &&
                            needsAttentionCustomersData.length > 0)
                    "
                >
                    Notifications
                </h4>

                <ul class="notifications-list">
                    <!--JetA Cost Notification-->
                    <li *ngIf="hasLoadedJetACost && !currrentJetACostPricing">
                        <a>
                            <span class="icon sli-feed"></span>
                            <div class="content">
                                <span class="desc"
                                    >Your cost pricing has expired!</span
                                >
                                <span class="date"></span>
                                <div class="text-right">
                                    <button
                                        ni-button
                                        [view]="'accent'"
                                        size="small"
                                        (click)="updatePricingClicked($event)"
                                        class="mr-1"
                                    >
                                        Update Pricing
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>

                    <!--JetA Retail Notification-->
                    <li
                        *ngIf="
                            hasLoadedJetARetail && !currrentJetARetailPricing
                        "
                    >
                        <a>
                            <span class="icon sli-feed"></span>
                            <div class="content">
                                <span class="desc"
                                    >Your retail pricing has expired!</span
                                >
                                <span class="date"></span>
                                <div class="text-right">
                                    <button
                                        ni-button
                                        [view]="'accent'"
                                        size="small"
                                        (click)="updatePricingClicked($event)"
                                        class="mr-1"
                                    >
                                        Update Pricing
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>

                    <!--Customers without margins-->
                    <li *ngFor="let customer of needsAttentionCustomersData">
                        <a>
                            <span class="icon sli-exclamation"></span>
                            <div class="content">
                                <span class="desc">
                                    Needs Attention for
                                    <strong>{{ customer.company }}</strong>.
                                </span>
                                <span class="date"></span>
                                <div class="text-right">
                                    <button
                                        ni-button
                                        [view]="'success'"
                                        size="small"
                                        (click)="gotoCustomer(customer, $event)"
                                        class="mr-1"
                                    >
                                        See customer
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="menu-footer">
                    <a (click)="viewAllNotificationsClicked($event)"
                        >View all notifications</a
                    >
                </div>
            </div>
        </div>

        <div
            class="nav-item"
            [ngClass]="{ opened: false }"
            style="display: none;"
        >
            <a (click)="toggle($event)" class="nav-link">
                <span class="icon sli-event"></span>
            </a>

            <div class="dropdown-menu">
                <h4 class="menu-title">Events</h4>

                <ul>
                    <li>
                        <a href="#">
                            <span class="icon sli-emotsmile"></span>
                            <div class="content">
                                <span class="desc"
                                    >This is a new message for my dear friend
                                    <strong>Rob</strong>.</span
                                >
                                <span class="date">2 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon sli-layers"></span>
                            <div class="content">
                                <span class="desc"
                                    >This is a new message for my dear friend
                                    <strong>Rob</strong>.</span
                                >
                                <span class="date">14 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon sli-graduation"></span>
                            <div class="content">
                                <span class="desc"
                                    >This is a new message for my dear friend
                                    <strong>Rob</strong>.</span
                                >
                                <span class="date">15 minutes ago</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="menu-footer">
                    <a href="#">View all events</a>
                </div>
            </div>
        </div>

        <div
            class="nav-item"
            [ngClass]="{ opened: false }"
            style="display: none;"
        >
            <a (click)="toggle($event)" class="nav-link">
                <span class="icon sli-bubbles"></span>
            </a>

            <div class="dropdown-menu">
                <h4 class="menu-title">You have 3 new messages</h4>

                <ul>
                    <li>
                        <a href="#">
                            <img
                                class="avatar"
                                src="assets/content/avatar-1.jpg"
                                width="42"
                                height="42"
                                alt=""
                            />

                            <div class="content">
                                <span class="meta">
                                    <strong class="name">Victor Jara</strong>
                                    <span class="date">3 Apr</span>
                                </span>
                                <span class="desc"
                                    >Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Ab, odio.</span
                                >
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="avatar"
                                src="assets/content/avatar-4.jpg"
                                width="42"
                                height="42"
                                alt=""
                            />
                            <div class="content">
                                <span class="meta">
                                    <strong class="name">Nancy Allen</strong>
                                    <span class="date">2 Apr</span>
                                </span>
                                <span class="desc"
                                    >Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.</span
                                >
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="avatar"
                                src="assets/content/avatar-3.jpg"
                                width="42"
                                height="42"
                                alt=""
                            />
                            <div class="content">
                                <span class="meta">
                                    <strong class="name">Emma Watson</strong>
                                    <span class="date">1 Apr</span>
                                </span>
                                <span class="desc"
                                    >Lorem ipsum dolor sit amet, consectetur
                                    adipisicing.</span
                                >
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="nav-item"
            [ngClass]="{ opened: accountProfileMenu.isOpened }"
        >
            <a (click)="toggleProfileMenu()" class="nav-link">
                <div class="name" *ngIf="userFullName">{{ userFullName }}</div>
            </a>
            <mat-spinner diameter="30" *ngIf="!isLocationsLoaded"></mat-spinner>

            <div class="dropdown-menu mini-menu" *ngIf="isLocationsLoaded">
                <ul>
                    <li>
                        <a
                            style="cursor: pointer;"
                            (click)="accountProfileClicked($event)"
                        >
                            <span class="icon sli-settings"></span> Account
                            Profile
                        </a>
                    </li>
                    <li class="nav-sub-item" *ngIf="currentUser && currentUser.impersonatedRole > 0 && fboAirport">
                        <a style="cursor: pointer;">
                            <span class="icon sli-arrow-left"></span> Switch
                            Location
                        </a>
                        <mat-list class="nav-sub-item-menu">
                            <mat-list-item
                                *ngFor="let location of locations"
                                (click)="changeLocation(location)"
                            >
                                <span
                                    *ngIf="location.oid == fboAirport.fboid"
                                    class="icon sli-flag"
                                ></span
                                >&nbsp;
                                {{ location.icao }}
                            </mat-list-item>
                        </mat-list>
                    </li>
                    <li *ngIf="currentUser && currentUser.impersonatedRole > 0">
                        <a
                            style="cursor: pointer;"
                            (click)="stopManagingClicked($event)"
                        >
                            <span class="icon sli-settings"></span> Stop
                            Managing FBO
                        </a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="logout()">
                            <span class="icon sli-logout"></span> Log Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="items-overlay" (click)="close($event)"></div>
    </div>
</div>
