<h1 mat-dialog-title>
    Account Profile
    <a class="float-right close-btn" (click)="onCancelClick()">
        <mat-icon>close</mat-icon>
    </a>
</h1>

<div mat-dialog-content>
    <div *ngIf="!availableroles">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="availableroles">
        <mat-tab-group>

            <!--Account Login Info-->
            <mat-tab label="Login Info">
                <div class="container-fluid mt-2">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="First Name" aria-label="First Name" [(ngModel)]="data.firstName">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="Last Name" aria-label="Last Name" [(ngModel)]="data.lastName">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput type="email" placeholder="Email Login" aria-label="Email Login" [(ngModel)]="data.username" [email]="true" #userLoginEmail="ngModel">
                            </mat-form-field>
                            <div *ngIf="userLoginEmail.errors?.email" style="color: red;">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="col-6">
                            <mat-form-field *ngIf="availableroles">
                                <mat-select placeholder="Role" [(ngModel)]="data.role" disabled>
                                    <mat-option *ngFor="let role of availableroles" [value]="role.value">
                                        {{role.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Password" aria-label="Password" [(ngModel)]="data.newPassword">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Confirm Password" aria-label="Confirm Password" [(ngModel)]="data.confirmPassword">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-danger" *ngIf="data.confirmPassword && data.confirmPassword.length > 0 && data.newPassword && data.newPassword.length > 0 && data.newPassword != data.confirmPassword">
                            Passwords must match
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2 text-center">
                            <button
                                mat-raised-button
                                color="accent"
                                [mat-dialog-close]="data"
                                class="mr-1"
                                [disabled]="!data.confirmPassword ||
                                            !data.newPassword ||
                                            data.confirmPassword !== data.newPassword ||
                                            userLoginEmail.errors?.email"
                            >Save</button>
                            <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="System Contacts" *ngIf="contactsData && !isCsr">
                <form [formGroup]="systemContactsForm" (ngSubmit)="onSaveSystemContacts()">
                    <div class="mt-4 mb-2 pl-4">
                        <p>Add contacts at your FBO to copy on relevant system emails, such as fuel requests.</p>
                        <mat-form-field style="max-width: 240px;">
                            <input matInput required placeholder="FuelDesk Email" aria-label="FuelDesk Email" formControlName="fuelDeskEmail">
                        </mat-form-field>
                        <button
                            mat-raised-button
                            color="accent"
                            class="ml-3"
                            type="submit"
                            [disabled]="!systemContactsForm.valid"
                        >
                            Save Email
                        </button>
                    </div>
                    <!--Contacts Grid-->
                    <div *ngIf="contactsData">
                        <app-systemcontacts-grid
                            [contactsData]="contactsData"
                            (contactDeleted)="contactDeleted($event)"
                        ></app-systemcontacts-grid>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
