<ni-card title="Your customer breakdown" [headerBgColor]="'gray'">
    <div class="chart-container">
        <ngx-charts-pie-chart
            *ngIf="totalOrdersData"
            [results]="totalOrdersData"
            [scheme]="colorScheme"
            [gradient]="false"
            [labels]="true"
            [trimLabels]="false"
        ></ngx-charts-pie-chart>
    </div>
    <mat-button-toggle-group
        class="chart-type-toggle"
        appearance="legacy"
        value="order"
        (change)="changeType($event)"
    >
        <mat-button-toggle value="order">Orders</mat-button-toggle>
        <mat-button-toggle value="volume">Sum of $ volume</mat-button-toggle>
    </mat-button-toggle-group>
    <ngx-ui-loader
        [loaderId]="chartName"
        bgsPosition="center-center"
        bgsType="ball-spin"
        bgsColor="rgb(100, 181, 246)"
        overlayColor="rgba(0, 0, 0, 0.1)"
    ></ngx-ui-loader>
</ni-card>
