.table-column-filter {
    position: absolute;
    right: 0;
    top: -10px;
}

.mat-sort-header-content {
    text-align: left !important;
    display: flex;
    align-items: inherit !important;
}


.overflow-label .table-column-filter {
    top: 0px !important;
}

sub.is-filtered-icon{
    margin-right: -14px;
    font-size: 70% !important;
}

.is-filtered-icon {
    color: #e23936;
}
