<ni-card [title]="'Reset Password'" [align]="'center'">
  <mat-spinner *ngIf="!validated"></mat-spinner>
  <form *ngIf="validated && !validationError && !reset" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" readonly required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
    </mat-form-field>

    <mat-hint *ngIf="error" class="text-danger">{{ error }}</mat-hint>
    <mat-hint
      *ngIf="form.get('newPassword').value != form.get('confirmPassword').value && form.get('confirmPassword').value"
      class="text-danger">Password does not match</mat-hint>

    <button mat-flat-button class="mt-3" color="accent" type="submit">Reset Password</button>

  </form>
  <div class="text-center">
    <mat-hint *ngIf="validationError" class="text-danger">The reset password link is expired!</mat-hint>
    <mat-hint *ngIf="reset">Password Reset Succeed! Redirecting...</mat-hint>
  </div>
</ni-card>
