.actions {
    position: relative;
}

.export-btn {
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    transform: translateX(-50%);
}

.paddingTop {
    padding-top: 30px;
}

.table-container {
    height: calc(100vh - 320px);
}
