<div class="paddingTop">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4">
                <app-table-global-search [matDataSource]="fuelreqsDataSource"
                                         placeholder="Search by Company, Tail, etc."></app-table-global-search>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        (dateChange)="applyDateFilterChange()"
                        (focus)="dashboardSettingsStartDateFilter.open()"
                        [(ngModel)]="filterStartDate"
                        [matDatepicker]="dashboardSettingsStartDateFilter"
                        [max]="filterEndDate"
                        matInput
                        placeholder="Start Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsStartDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsStartDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        (dateChange)="applyDateFilterChange()"
                        (focus)="dashboardSettingsEndDateFilter.open()"
                        [(ngModel)]="filterEndDate"
                        [matDatepicker]="dashboardSettingsEndDateFilter"
                        [min]="filterStartDate"
                        matInput
                        placeholder="End Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsEndDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsEndDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="actions col-6 col-md-2">
                <button [matMenuTriggerFor]="gridActions" mat-icon-button>
                    <mat-icon
                        aria-hidden="true"
                        class="mat-icon material-icons"
                        role="img"
                        >more_vert</mat-icon
                    >
                </button>
                <mat-menu
                    #gridActions="matMenu"
                    class="switch-nested-menu-left-arrows"
                    xPosition="before"
                >
                    <button (click)="export()" mat-menu-item>Export</button>
                    <button (click)="openSettings()" mat-menu-item>
                        Settings
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="w-100 table-container" style="overflow-x: auto">
        <table [dataSource]="fuelreqsDataSource"
               class="col-12 mb-0"
               mat-table
               matSort>
            <ng-container matColumnDef="customerName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Flight Dept.
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.customerName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="pricingTemplateName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    ITP Margin Template
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.pricingTemplateName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="eta">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ETA</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.eta | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="etd">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ETD</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.etd | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="quotedVolume">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Volume (gal.)
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.quotedVolume }}
                </td>
            </ng-container>

            <ng-container matColumnDef="quotedPpg">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>PPG</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{
                        fuelreq.oid == 0
                            ? "CONFIDENTIAL"
                            : (fuelreq.quotedPpg
                              | currency: "USD":"symbol":"1.4-4")
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tailNumber">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Tail #
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.tailNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Phone</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.phoneNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Source
                </th>
                <td *matCellDef="let fuelreq" mat-cell>{{ fuelreq.source }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
                <td *matCellDef="let fuelreq"
                    [matTooltip]="fuelreq.email"
                    mat-cell>
                    {{ fuelreq.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="oid">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
                <td *matCellDef="let fuelreq" mat-cell>{{ fuelreq.oid }}</td>
            </ng-container>

            <ng-container matColumnDef="sourceId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    FuelerLinx ID
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.sourceId }}
                </td>
            </ng-container>

            <ng-container matColumnDef="cancelled">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Transaction Status
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.cancelled ? "Cancelled" : "Live" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="dateCreated">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Created</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.dateCreated | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fuelOn">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Uplift Request</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ (fuelreq.fuelOn == "Arrival" ? fuelreq.eta : fuelreq.etd) | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th *matHeaderCellDef mat-header-cell>
                    <div class="pull-right">
                        <button color="accent" mat-flat-button>Add New</button>
                    </div>
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    <div class="pull-right">
                        <button color="warn" mat-stroked-button>Delete</button>
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="getTableColumns(); sticky: true"
                mat-header-row></tr>
            <tr *matRowDef="let row; columns: getTableColumns()" mat-row></tr>
        </table>
        <mat-paginator
            (page)="(pageIndex); onPageChanged($event)"
            [length]="resultsLength"
            [pageSizeOptions]="[10, 25, 50, 100]"
            [pageSize]="pageSize"
        ></mat-paginator>
    </div>
</div>
