<div class="paddingTop">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4">
                <app-table-global-search [matDataSource]="dataSource"
                                         placeholder="Search by Company, Tail, etc."></app-table-global-search>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        (dateChange)="applyDateFilterChange()"
                        (focus)="dashboardSettingsStartDateFilter.open()"
                        [(ngModel)]="filterStartDate"
                        [matDatepicker]="dashboardSettingsStartDateFilter"
                        [max]="filterEndDate"
                        matInput
                        placeholder="Start Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsStartDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsStartDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        (dateChange)="applyDateFilterChange()"
                        (focus)="dashboardSettingsEndDateFilter.open()"
                        [(ngModel)]="filterEndDate"
                        [matDatepicker]="dashboardSettingsEndDateFilter"
                        [min]="filterStartDate"
                        matInput
                        placeholder="End Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsEndDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsEndDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="actions col-6 col-md-2">
                <button [matMenuTriggerFor]="gridActions" mat-icon-button>
                    <mat-icon
                        aria-hidden="true"
                        class="mat-icon material-icons"
                        role="img"
                        >more_vert</mat-icon
                    >
                </button>
                <mat-menu
                    #gridActions="matMenu"
                    class="switch-nested-menu-left-arrows"
                    xPosition="before"
                >
                    <button (click)="exportCsv()" mat-menu-item>Export</button>
                    <button (click)="openSettings()" mat-menu-item>
                        Settings
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="w-100 table-container" style="overflow-x: auto" (scroll)="onTableScroll($event)">
        <table [dataSource]="dataSource"
               class="col-12 mb-0"
               multiTemplateDataRows
               mat-table
               matSort>
               <ng-container matColumnDef="expand-icon">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                    &nbsp;
                </th>
                <td mat-cell *matCellDef="let element">
                    <button
                        mat-icon-button
                        aria-label="expand row"
                        (click)="
                            toogleExpandedRows(element.oid);
                            $event.stopPropagation()
                        "
                    >
                        <mat-icon *ngIf="!isRowExpanded(element.oid)"
                            >keyboard_arrow_down</mat-icon
                        >
                        <mat-icon *ngIf="isRowExpanded(element.oid)"
                            >keyboard_arrow_up</mat-icon
                        >
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="customerName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Flight Dept.
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    <span  style="display: flex;">
                        {{ fuelreq.customerName }} &nbsp;
                        <ni-badge *ngIf="fuelreq.customerOrderNotes" [arrow]="'right'" [borderRadius]="false"
                            [color]="'warning'"
                            matTooltipPosition="after">
                            Order Note
                        </ni-badge>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="pricingTemplateName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    ITP Margin Template
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.pricingTemplateName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="eta">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ETA</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.eta | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="etd">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ETD</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.etd | date: "MMM d, yyyy, HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="quotedVolume">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Volume (gal.)
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.quotedVolume }}
                </td>
            </ng-container>

            <ng-container matColumnDef="quotedPpg">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>PPG</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{
                        getPPGDisplayString(fuelreq)
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tailNumber">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Tail #
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.tailNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Phone</th>
                <td *matCellDef="let fuelreq" mat-cell>
                    {{ fuelreq.phoneNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="source">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Source
                </th>
                <td *matCellDef="let fuelreq" mat-cell>{{ fuelreq.source }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
                <td *matCellDef="let fuelreq"
                    [matTooltip]="fuelreq.email"
                    mat-cell>
                    {{ fuelreq.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th *matHeaderCellDef mat-header-cell>
                    <div class="pull-right">
                        <button color="accent" mat-flat-button>Add New</button>
                    </div>
                </th>
                <td *matCellDef="let fuelreq" mat-cell>
                    <div class="pull-right">
                        <button color="warn" mat-stroked-button>Delete</button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td
                    mat-cell
                    *matCellDef="let element"
                    [attr.colspan]="allColumnsToDisplay.length"
                >
                    <div
                        class="example-element-detail"
                        [@detailExpand]="
                        isRowExpanded(element.oid) ? 'expanded' : 'collapsed'
                        "
                    >
                        <div class="example-element-description">
                            <table class="description-table">
                                <tr>
                                    <td>
                                        Customer Order Notes:
                                    </td>
                                    <td>ID: {{ element.oid }}</td>
                                    <td>
                                        Created:
                                        {{ element.dateCreated | date: "MMM d, yyyy, HH:mm" }} {{element.timeZone}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ element.customerOrderNotes }}
                                    </td>
                                    <td>
                                        fuelerlinx ID:
                                        {{ element.sourceId }}
                                    </td>
                                    <td>
                                        Uplift Request:
                                        {{ (element.fuelOn == "Arrival" ? element.eta : element.etd) | date: "MMM d, yyyy, HH:mm" }} {{element.timeZone}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Customer Requested Payment Method:
                                        {{ element.paymentMethod }}
                                    </td>
                                    <td>
                                        Transaction Status:
                                        {{ element.cancelled ? "Cancelled" : "Live" }}
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr
            mat-header-row
            *matHeaderRowDef="allColumnsToDisplay; sticky: true"
        ></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: allColumnsToDisplay"
            class="example-element-row"
            [class.example-expanded-row]="isRowExpanded(element.oid)"
            (click)="
            toogleExpandedRows(element.oid)
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="columns.length">
                {{ getNoDataToDisplayString() }}
            </td>
        </tr>
        </table>
        <div class="invisible">
            <mat-paginator
                (page)="(0); onPageChanged($event)"
                [length]="resultsLength"
                [pageSizeOptions]="[10, 25, 50, 100]"
                [pageSize]="pageSize"
            ></mat-paginator>
        </div>
    </div>
</div>
