<div class="paddingTop">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4">
                <mat-form-field>
                    <input
                        matInput
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Search by Customer, TailNumber, FBO, etc."
                    />
                    <span matPrefix><i class="fa fa-search"></i></span>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        matInput
                        [max]="filterEndDate"
                        [(ngModel)]="filterStartDate"
                        [matDatepicker]="dashboardSettingsStartDateFilter"
                        (focus)="dashboardSettingsStartDateFilter.open()"
                        placeholder="Start Date"
                        (dateChange)="applyDateFilterChange()"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="dashboardSettingsStartDateFilter"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsStartDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3">
                <mat-form-field>
                    <input
                        matInput
                        [min]="filterStartDate"
                        [(ngModel)]="filterEndDate"
                        [matDatepicker]="dashboardSettingsEndDateFilter"
                        (focus)="dashboardSettingsEndDateFilter.open()"
                        placeholder="End Date"
                        (dateChange)="applyDateFilterChange()"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="dashboardSettingsEndDateFilter"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsEndDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="actions" class="col-6 col-md-2">
                <button
                    class="export-btn"
                    ni-button
                    [view]="'accent'"
                    beforeIcon="fa fa-file-excel-o"
                    (click)="export()"
                >
                    Export
                </button>
            </div>
        </div>
    </div>

    <table mat-table
           [dataSource]="fuelreqsDataSource"
           class="col-md-12"
           matSort
           matSortActive="oid"
           matSortDirection="desc">
        <ng-container matColumnDef="oid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.oid }}</td>
        </ng-container>

        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Flight Dept.
            </th>
            <td mat-cell *matCellDef="let fuelreq">
                {{ fuelreq.customerName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="eta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ETA</th>
            <td mat-cell *matCellDef="let fuelreq">
                {{ fuelreq.eta | date: "MMM d, yyyy, HH:mm" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="etd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ETD</th>
            <td mat-cell *matCellDef="let fuelreq">
                {{ fuelreq.etd | date: "MMM d, yyyy, HH:mm" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quotedVolume">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume (gal.)</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.quotedVolume }}</td>
        </ng-container>

        <ng-container matColumnDef="quotedPpg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PPG</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.quotedPpg | currency:'USD':'symbol':'1.4-4' }}</td>
        </ng-container>

        <ng-container matColumnDef="tailNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tail #</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.tailNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.phoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
            <td mat-cell *matCellDef="let fuelreq">{{ fuelreq.source }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
                <div class="pull-right">
                    <button mat-flat-button color="accent">Add New</button>
                </div>
            </th>
            <td mat-cell *matCellDef="let fuelreq">
                <div class="pull-right">
                    <button mat-stroked-button color="warn">Delete</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<div>
    <mat-paginator [length]="resultsLength"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   (page)="(pageIndex); onPageChanged($event)"></mat-paginator>
</div>
