<div class="customers-grid" #customerTableContainer>
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="anySelected()" class="col-2">
        <mat-form-field>
          <mat-select placeholder="Bulk Update Margin Template"
                      (selectionChange)="bulkMarginTemplateUpdate($event)">
            <mat-option *ngFor="let pricingTemplate of pricingTemplatesData"
                        [value]="pricingTemplate">
              {{ pricingTemplate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6" *ngIf="customersDataSource">
        <app-table-global-search
          [matDataSource]="customersDataSource"
          placeholder="Search by Company, Tail, etc."
        ></app-table-global-search>
      </div>
      <div class="col-2">
        <mat-form-field>
          <mat-select placeholder="Search Within"
                      [(ngModel)]="customerFilterType"
                      (selectionChange)="customerFilterTypeChanged()">
            <mat-option [value]="0">
              All Customers
            </mat-option>
            <mat-option [value]="1">
              Customers Needing Attention
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="anySelected()" class="col-2 bulk-action-btn">
        <div>
          <button ni-button
                  [view]="'accent'"
                  (click)="exportCustomersToExcel()">
            Export Selected
          </button>
        </div>
      </div>
      <div class="export-import-menu">
        <div class="actions-menu">
          <button mat-icon-button [matMenuTriggerFor]="gridActions">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon>
          </button>
          <mat-menu #gridActions="matMenu" xPosition="before" class="switch-nested-menu-left-arrows">
            <button mat-menu-item (click)="launchImporter()" [ngClass]="{ disabled: !LICENSE_KEY }">
              Import
            </button>
            <button mat-menu-item [matMenuTriggerFor]="exportActions">Export</button>
          </mat-menu>
          <mat-menu #exportActions="matMenu" xPosition="before">
            <button mat-menu-item (click)="exportCustomersToExcel()">Export Customers</button>
            <button mat-menu-item (click)="exportCustomerAircraftToExcel()">Export Aircraft</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
    <div class="w-100 table-container" style="overflow-x:auto">
        <table mat-table
               [dataSource]="customersDataSource"
               class="col-md-12 mb-0"
               matSort
               matSortActive="{{ tableSort }}"
               matSortDirection="{{ tableSortOrder }}"
               #customerTable>
            <ng-container matColumnDef="selectAll">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="checkbox"
                           style="position: absolute; margin-top: 8px;"
                           id="a"
                           class="checkboxHeight"
                           [(ngModel)]="selectAll"
                           (change)="selectAction()"/>
                    <div for="a" style="margin-left: 25px; margin-top: 0px;">
                      <div>Select</div>
                      <div>All</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let customer" clickStopPropagation>
                    <input type="checkbox"
                           class="checkboxHeight"
                           [(ngModel)]="customer.selectAll"
                           value="{{ customer.selectAll }}"
                           (change)="selectUnique()"/>
                </td>
            </ng-container>

            <ng-container matColumnDef="needsAttention">
                <th class="text-left" mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    (click)="alertHeader('needsAttention')">
                  <div class="">Needs Attention</div>
                </th>
                <td mat-cell *matCellDef="let customer">
                    <div>
                        <ni-badge *ngIf="customer.needsAttention"
                                  [color]="'warning'"
                                  [borderRadius]="false"
                                  [arrow]="'right'"
                                  matTooltip="{{customer.needsAttentionReason}}"
                                  matTooltipPosition="after">
                            Needs Attention
                        </ni-badge>
                        <a *ngIf="
                            !customer.isFuelerLinxCustomer &&
                            !customer.contactExists
                        "
                           style="float: right;"
                           matTooltip="This customer does not have any contacts setup to receive price distribution."
                           matTooltipPosition="after">
                            <i class="fa fa-warning" style="color: red;"></i>
                        </a>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="company">
                <th mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    (click)="alertHeader('company')">
                  <span>Company</span>
                  <span *ngIf="customersDataSource">
                    <app-table-column-filter columnId="company"
                                             propertyName="company"
                                             [matDataSource]="customersDataSource"
                                             [matSort]="sort"
                                             ></app-table-column-filter>
                  </span>
                </th>
                <td mat-cell *matCellDef="let customer">{{ customer.company }}</td>
            </ng-container>

            <ng-container matColumnDef="customerCompanyTypeName">
              <th class="overflow-label" mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('customerCompanyTypeName')">
                <div>
                  <div>Customer</div>
                  <div>Type</div>
                </div>
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="customerCompanyTypeName"
                                           propertyName="customerCompanyTypeName"
                                           [matDataSource]="customersDataSource"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.customerCompanyTypeName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isFuelerLinxCustomer">
              <th class="overflow-label" mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('isFuelerLinxCustomer')">
                <div>
                  <div>FuelerLinx</div> 
                  <div>Network</div>
                </div>
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="isFuelerLinxCustomer"
                                           propertyName="isFuelerLinxCustomer"
                                           [matDataSource]="customersDataSource"
                                           [columnFormat]="8"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.isFuelerLinxCustomer ? 'YES' : 'NO' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="certificateTypeDescription">
              <th class="overflow-label" mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('certificateTypeDescription')">
                <div>
                  <div>Certificate</div>
                  <div>Type</div>
                </div>
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="certificateTypeDescription"
                                           propertyName="certificateTypeDescription"
                                           [matDataSource]="customersDataSource"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.certificateTypeDescription }}
                </td>
            </ng-container>

            <ng-container matColumnDef="pricingTemplateName">
              <th mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('pricingTemplateName')">
                ITP Margin Template
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="pricingTemplateName"
                                           propertyName="pricingTemplateName"
                                           [matDataSource]="customersDataSource"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer" clickStopPropagation>
                    <select id="pricingtemplates"
                            name="ddlPricingTemplate"
                            class="dropdownHeight"
                            [(ngModel)]="customer.pricingTemplateId"
                            (ngModelChange)="onMarginChange($event, customer)">
                        <option *ngFor="let pricingTemplate of pricingTemplatesData"
                                value="{{ pricingTemplate.oid }}">
                            {{ pricingTemplate.name }}
                        </option>
                    </select>
                </td>
            </ng-container>

            <ng-container matColumnDef="allInPrice">
              <th mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('allInPrice')">
                <div style="width: 29px;">All-in</div>
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="allInPrice"
                                           propertyName="allInPrice"
                                           [matDataSource]="customersDataSource"
                                           [columnFormat]="5"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer">
                    <span *ngIf="!customer.active"
                          style="color: red; font-weight: bold;">Inactive</span>
                    <span *ngIf="!customer.isPricingExpired && customer.active">
                        {{ customer.allInPrice | currency: "USD" }}
                    </span>
                    <span *ngIf="customer.isPricingExpired && customer.active"
                          style="color: red; font-weight: bold;">Expired</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="fleetSize">
              <th class="overflow-label" mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  (click)="alertHeader('fleetSize')">
                <div>
                  <div>Fleet</div> 
                  <div>Size</div>
                </div>
                <span *ngIf="customersDataSource">
                  <app-table-column-filter columnId="fleetSize"
                                           propertyName="fleetSize"
                                           [matDataSource]="customersDataSource"
                                           [columnFormat]="1"
                                           [matSort]="sort"></app-table-column-filter>
                </span>
              </th>
                <td mat-cell *matCellDef="let customer">
                    {{ customer.fleetSize }}
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="pull-right">
                        <button ni-button
                                class="action-btn"
                                [view]="'accent'"
                                beforeIcon="fa fa-plus"
                                (click)="newCustomer()">
                            Add New
                        </button>
                    </div>
             
                </th>
                <td mat-cell *matCellDef="let customer">
                    <div class="pull-right">
                        <button *ngIf="!customer.isFuelerLinxCustomer"
                                ni-button
                                [view]="'error'"
                                size="small"
                                beforeIcon="fa fa-trash"
                                (click)="
                            deleteCustomer(customer); $event.stopPropagation()
                        ">
                            Delete
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="editCustomer(row)"></tr>
        </table>
        <mat-paginator [length]="customersData.length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[10, 25, 50, 100]"
                       (page)="(pageIndex); onPageChanged($event)"></mat-paginator>
    </div>

</div>


