<div #customerTableContainer>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-6">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Company, Tail, etc.">
                    <span matPrefix><i class="fa fa-search"></i></span>
                </mat-form-field>
            </div>
            <div class="col col-md-3">
                <mat-form-field>
                    <mat-select placeholder="Search Within" [(ngModel)]="customerFilterType" (selectionChange)="customerFilterTypeChanged($event)">
                        <mat-option [value]="0">
                            All Customers
                        </mat-option>
                        <mat-option [value]="1">
                            Customers Needing Attention
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    

    <table mat-table [dataSource]="customersDataSource" class="col-md-12" matSort matSortActive="hasBeenViewed" matSortDirection="asc" #customerTable>
        <ng-container matColumnDef="hasBeenViewed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Clients w/out Pricing</th>
            <td mat-cell *matCellDef="let customer">
                <div>
                    <ni-badge *ngIf="!customer.hasBeenViewed" [color]="'warning'" [borderRadius]="false" [arrow]="'right'">Needs Attention</ni-badge>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
            <td mat-cell *matCellDef="let customer">{{customer.company}}</td>
        </ng-container>

        <ng-container matColumnDef="customerCompanyTypeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Type</th>
            <td mat-cell *matCellDef="let customer">{{customer.customerCompanyTypeName}}</td>
        </ng-container>

        <ng-container matColumnDef="pricingTemplateId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Margin</th>
            <td mat-cell *matCellDef="let customer">
                {{customer.pricingTemplateName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="allInPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ITP</th>
            <td mat-cell *matCellDef="let customer">
                <span *ngIf="!customer.isPricingExpired">{{customer.allInPrice | currency:'USD'}}</span>
                <span *ngIf="customer.isPricingExpired" style="color: red; font-weight: bold;">Expired</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let customer">
                <div class="pull-right">
                    <button ni-button size="small" beforeIcon="fa fa-edit" (click)="editCustomer(customer)">Edit</button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
                <div class="pull-right">
                    <button ni-button [view]="'warn'" beforeIcon="fa fa-file-excel-o" [matMenuTriggerFor]="menu">Export</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="exportCustomersToExcel()">
                            <mat-icon>cloud_download</mat-icon>
                            <span>Export Customers</span>
                        </button>
                        <button mat-menu-item (click)="exportCustomerAircraftToExcel()">
                            <mat-icon>cloud_download</mat-icon>
                            <span>Export Aircraft</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="pull-right mr-1">
                    <button ni-button [view]="'accent'" beforeIcon="fa fa-plus" (click)="newCustomer()">Add New</button>
                </div>
                
            </th>
            <td mat-cell *matCellDef="let customer">
                <div class="pull-right">
                    <button ni-button [view]="'error'" size="small" beforeIcon="fa fa-trash" (click)="deleteCustomer(customer)">Delete</button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
