<div>
    <div>
        <mat-form-field>
            <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search by Tail, Make, Model, etc."
            />
            <span matPrefix><i class="fa fa-search"></i></span>
        </mat-form-field>

        <table
            mat-table
            [dataSource]="aircraftsDataSource"
            class="col-md-12"
            matSort
            matSortActive="tailNumber"
            matSortDirection="asc"
        >
            <ng-container matColumnDef="tailNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tail</th>
                <td
                    (click)="editCustomerAircraft(aircraft)"
                    mat-cell
                    *matCellDef="let aircraft"
                >
                    {{ aircraft.tailNumber }}
                </td>
            </ng-container>

            <ng-container matColumnDef="aircraftType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td
                    mat-cell
                    *matCellDef="let aircraft"
                    (click)="editCustomerAircraft(aircraft)"
                >
                    {{ aircraft.make }} {{ aircraft.model }}
                </td>
            </ng-container>

            <ng-container matColumnDef="aircraftSize">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
                <td
                    mat-cell
                    *matCellDef="let aircraft"
                    (click)="editCustomerAircraft(aircraft)"
                >
                    {{ aircraft.aircraftSizeDescription }}
                </td>
            </ng-container>

            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Company
                </th>
                <td
                    mat-cell
                    *matCellDef="let aircraft"
                    (click)="editCustomerAircraft(aircraft)"
                >
                    {{ aircraft.company }}
                </td>
            </ng-container>

            <ng-container matColumnDef="aircraftPricingTemplate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Pricing
                </th>
                <td mat-cell *matCellDef="let aircraft">
                    <mat-form-field floatLabel="never">
                        <mat-label>Company Pricing</mat-label>
                        <mat-select
                            [(ngModel)]="aircraft.pricingTemplateName"
                            (ngModelChange)="onMarginChange($event, aircraft)"
                        >
                            <mat-option>None</mat-option>
                            <mat-option
                                *ngFor="
                                    let pricingTemplate of pricingTemplatesData
                                "
                                [value]="pricingTemplate.name"
                                >{{ pricingTemplate.name }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="editCustomerAircraft(row)"
            ></tr>
        </table>
    </div>

    <div>
        <mat-paginator
            [length]="resultsLength"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            (page)="(pageIndex); onPageChanged($event)"
        ></mat-paginator>
    </div>
</div>
