<h1 mat-dialog-title *ngIf="emailContent.oid > 0">Edit Email Content</h1>
<h1 mat-dialog-title *ngIf="!emailContent.oid || emailContent.oid == 0">New Email Content</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <input matInput placeholder="Name" aria-label="Name" [(ngModel)]="emailContent.name" cdkFocusInitial>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Type" [(ngModel)]="emailContent.emailContentType">
                <mat-option *ngFor="let contentType of emailContentTypes" [value]="contentType.value">
                    {{contentType.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <ejs-richtexteditor id='rteContent' [(value)]='emailContent.emailContentHTML'></ejs-richtexteditor>
    </div>
</div>
<div mat-dialog-actions>
    <button ni-button [view]="'success'" beforeIcon="fa fa-floppy-o" (click)="onSaveChangesClick()" class="mr-1">{{emailContent.oid > 0 ? 'Save Changes' : 'Add New'}}</button>
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
</div>
