<ni-breadcrumb
    [menu]="breadcrumb"
    [style]="'custom1'"
    class="mb-5"
></ni-breadcrumb>

<app-fbo-prices-panel
    style="
        position: absolute;
        top: -14px;
        right: 62px;
    "
></app-fbo-prices-panel>

<div *ngIf="!rampFees && !noData">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!rampFees && noData">
    No Data Available
</div>

<ni-card title="" class="mb-0 " *ngIf="rampFees">
    <div class="mb-3">
        <div class="">
            <div class="row">
                <div class="col-12">
                    <div class="pull-right" *ngIf="requiresUpdate">
                        <button
                            ni-button
                            [view]="'success'"
                            beforeIcon="fa fa-floppy-o"
                            (click)="saveChanges()"
                        >
                            Save Changes
                        </button>
                    </div>
                    <div
                        class="pull-left mr-1"
                        *ngIf="rampFees[1].categoryType == 1"
                    >
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="expirationDate"
                                [matDatepicker]="categoryDatePicker"
                                placeholder="Expiration Date"
                                disabled
                                (ngModelChange)="rampFeeRequiresUpdate()"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="categoryDatePicker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                                #categoryDatePicker
                                disabled="false"
                            ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="actions-menu pull-right mr-1 d-flex">
                        <div class="ml-3">
                            <button mat-icon-button [matMenuTriggerFor]="gridActions">
                                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">more_vert</mat-icon>
                            </button>
                            <mat-menu #gridActions="matMenu" xPosition="before" class="switch-nested-menu-left-arrows">
                                <button
                                    mat-menu-item
                                    (click)="informForRampFees()"
                                    [ngClass]="{ disabled: !LICENSE_KEY }"
                                >
                                    Import
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Business Jets</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <app-ramp-fees-category
                [aircraftTypes]="aircraftTypes"
                [rampFees]="rampFees"
                [categoryTitle]="'Business Jets'"
                [categoryTypes]="[1]"
                [supportedValues]="[0, 1, 2, 3, 5, 7, 16]"
                [sortedValues]="[7, 1, 2, 3, 16, 5]"
                (rampFeeFieldChanged)="rampFeeFieldChanged()"
                (rampFeeDeleted)="rampFeeDeleted()"
            ></app-ramp-fees-category>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Pistons and Turboprops</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <app-ramp-fees-category
                [aircraftTypes]="aircraftTypes"
                [rampFees]="rampFees"
                [categoryTitle]="'Turboprops'"
                [categoryTypes]="[1]"
                [supportedValues]="[6, 8, 11, 12, 13, 14, 15]"
                [sortedValues]="[8, 11, 12, 13, 6, 14, 15]"
                (rampFeeFieldChanged)="rampFeeFieldChanged()"
                (rampFeeDeleted)="rampFeeDeleted()"
            ></app-ramp-fees-category>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Helicopters</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <app-ramp-fees-category
                [aircraftTypes]="aircraftTypes"
                [rampFees]="rampFees"
                [categoryTitle]="'Helicopters'"
                [categoryTypes]="[1]"
                [supportedValues]="[4, 9, 10]"
                [sortedValues]="[4, 9, 10]"
                (rampFeeFieldChanged)="rampFeeFieldChanged()"
                (rampFeeDeleted)="rampFeeDeleted()"
            ></app-ramp-fees-category>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="align-items-center">Custom</mat-panel-title>
                <mat-panel-description class="justify-content-between align-items-center">
                    By type, wingspan, weight, or tail
                    <button
                        ni-button
                        class="mr-3"
                        size="small"
                        view="accent"
                        beforeIcon="fa fa-plus"
                        (click)="addNewRampFeeClicked()"
                    >
                        Add New
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-ramp-fees-category
                #customRampFeeCat
                [aircraftTypes]="aircraftTypes"
                [rampFees]="rampFees"
                [categoryTitle]="'Turboprops'"
                [categoryTypes]="[2, 3, 4, 5]"
                [supportedValues]="[]"
                (rampFeeFieldChanged)="rampFeeFieldChanged()"
                (rampFeeDeleted)="rampFeeDeleted()"
            ></app-ramp-fees-category>
        </mat-expansion-panel>
    </mat-accordion>
</ni-card>
