<div>
  <div class="dialog-header">
    Fee and Tax Settings
    <a class="float-right close-btn" (click)="onCancelClick()">
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>



<div mat-dialog-content>
  <div *ngIf="!feeAndTaxDatasource || !pricingTemplates" style="width: 700px; min-height: 150px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center mt-4">
          <div style="margin: 0 auto;">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="feeAndTaxDatasource && pricingTemplates">

    <div class="container-fluid" *ngIf="(!data || data.length == 0) && !requiresSaving">
      <div class="row">
        <div class="col text-center">
          You do not currently have any fees or taxes added to your account.  Click "Add New" below to begin.
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <button ni-button
                  [view]="'accent'"
                  beforeIcon="fa fa-plus"
                  (click)="feeAndTaxAdded()">
            Add New
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid" *ngIf="(data && data.length > 0) || requiresSaving">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="table-conainer">
            <table mat-table [dataSource]="feeAndTaxDatasource">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Name</div>
                  <div>
                    <small>Choose what you call each item.</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-form-field>
                    <input matInput [(ngModel)]="feeAndTax.name" (change)="feeAndTaxChanged(feeAndTax, true);" />
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="calculationType">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Type of Fee</div>
                  <div>
                    <small>Changes how the line item is applied.</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-select placeholder="Type of Fee" [(ngModel)]="feeAndTax.calculationType" (selectionChange)="feeAndTaxChanged(feeAndTax)">
                    <mat-option *ngFor="let calculationType of feeCalculationTypes" [value]="calculationType.value">
                      {{calculationType.text}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>

              <ng-container matColumnDef="whenToApply">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Applies to</div>
                  <div>
                    <small>A sales tax is often "below the line"<br />FET is typically "above the line"</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-select placeholder="Applies To" [(ngModel)]="feeAndTax.whenToApply" (selectionChange)="feeAndTaxChanged(feeAndTax)">
                    <mat-option *ngFor="let whenToApply of feeCalculationApplyingTypes" [value]="whenToApply.value">
                      {{whenToApply.text}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>

              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Value</div>
                  <div>
                    <small>The value of the fee.</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-form-field>
                    <input matInput
                           type="number"
                           [step]="(feeAndTax.calculationType == 0 ? '.01' : '1')"
                           title="Your Cost values should be inclusive of all taxes/fees"
                           [ngModelOptions]="{updateOn: 'blur'}"
                           (click)="$event.target.select()"
                           [ngModel]="feeAndTax.value | number: (feeAndTax.calculationType == 0 ? '1.4-4' : '1.2-2')"
                           (change)="feeValueChanged(feeAndTax, $event.target.value)" />
                    <span matPrefix class="prefixDollar" *ngIf="feeAndTax.calculationType == 0">$</span>
                    <span matSuffix *ngIf="feeAndTax.calculationType == 1 || feeAndTax.calculationType == 2">%</span>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="flightTypeClassification">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Flight Types</div>
                  <div>
                    <small>Choose whether each line item is applied based on teh flight type your customer quotes.</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-select placeholder="Flight Type" [(ngModel)]="feeAndTax.flightTypeClassification" (selectionChange)="feeAndTaxChanged(feeAndTax)">
                    <mat-option *ngFor="let flightTypeClassification of flightTypeClassifications" [value]="flightTypeClassification.value">
                      {{flightTypeClassification.text}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>

              <ng-container matColumnDef="departureType">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="font-weight-bold">Dom. v Int.</div>
                  <div>
                    <small>Choose whether each line item applies to domestic or international flights.</small>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <mat-select placeholder="Domestic/International" [(ngModel)]="feeAndTax.departureType" (selectionChange)="feeAndTaxChanged(feeAndTax)">
                    <mat-option *ngFor="let applicableFlightType of applicableTaxFlightOptions" [value]="applicableFlightType.value">
                      {{applicableFlightType.text}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                  <div class="pull-right">
                    <button ni-button
                            [view]="'accent'"
                            beforeIcon="fa fa-plus"
                            (click)="feeAndTaxAdded()">
                      Add New
                    </button>
                  </div>
                </th>
                <td mat-cell *matCellDef="let feeAndTax">
                  <div class="pull-right">
                    <button ni-button
                            [view]="'error'"
                            size="small"
                            beforeIcon="fa fa-trash"
                            (click)="
                                feeAndTaxDeleted(feeAndTax);
                                $event.stopPropagation()
                            ">
                      Delete
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumns" class="mat-row-not-hover"></tr>

            </table>
          </div>


        </div>
        <div class="col-1"></div>
      </div>

      <div class="row mt-4 mb-2">
        <div class="col-3 font-weight-bold">
          Live sample calculation:
        </div>
        <div class="col-9">
          <div class="ml-4 pl-1 font-weight-bold">Customer's All-In Rate:</div>
          
        </div>
      </div>
      
      <div class="row mt-4">

        <div class="col-3">
          <mat-form-field>
            <mat-label>ITP Template</mat-label>
            <mat-select class="font-weight-bold" placeholder="ITP Template" [(ngModel)]="sampleCalculation.pricingTemplateId" (selectionChange)="sampleCalculationChanged()">
              <mat-option *ngFor="let pricingTemplate of pricingTemplates" [value]="pricingTemplate.oid">
                {{pricingTemplate.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-9 mt-3">
          <price-breakdown #priceBreakdownPreview [priceTemplateId]="sampleCalculation.pricingTemplateId"
                           [feesAndTaxes]="data"
                           [hideFeeAndTaxGeneralBreakdown]="true">

          </price-breakdown>
        </div>
      </div>

      <div>
        <ngx-ui-loader [loaderId]="calculationLoader"
                       bgsPosition="center-center"
                       fgsType="fading-circle"
                       fgsColor="#252d47"
                       pbColor="#252d47"
                       overlayColor="rgba(0, 0, 0, 0.06)"></ngx-ui-loader>
      </div>
    </div>
  </div>

</div>

<div mat-dialog-actions class="row" *ngIf="feeAndTaxDatasource && pricingTemplates">
  <div class="text-right float-right col-12">
    <button ni-button [view]="'accent'" (click)="saveChanges()" [disabled]="!requiresSaving">Save</button>
  </div>
</div>
