<ni-card title="Comparison for nearby airports" [headerBgColor]="'gray'">
    <div class="chart-container">
        <ngx-charts-bar-vertical
            *ngIf="totalOrdersData"
            [results]="totalOrdersData"
            [scheme]="colorScheme"
            [gradient]="false"
            [legend]="false"
            [xAxis]="true"
            [yAxis]="true"
        ></ngx-charts-bar-vertical>
    </div>
    <div class="distance-selector">
        <label>Miles: </label>
        <mat-slider
            thumbLabel
            tickInterval="1"
            min="0"
            max="200"
            [value]="mile"
            (change)="changeMile($event)"
        ></mat-slider>
    </div>
    <ngx-ui-loader
        [loaderId]="chartName"
        bgsPosition="center-center"
        bgsType="ball-spin"
        bgsColor="rgb(100, 181, 246)"
        overlayColor="rgba(0, 0, 0, 0.1)"
    ></ngx-ui-loader>
</ni-card>
