<section id="overview">
    <div class="row">
        <div class="span12">
            <h2><em><i class="icon-bookmark"></i> FBOlinx Overview</em> <a class="up anchorLink" href="#home"><i class="icon-chevron-up"></i></a></h2>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <h4> Overview</h4>
            <p>FBOlinx will enable FBOs to deliver unique and confidential fuel quotes, tailored directly to an individual flight department, in <em><strong>FuelerLinx</strong></em> software.</p>
            <p>Currently, managers at FBOs release a uniform price and tell pilots upon arrival that they will work on getting them a unique, customized price.  They shake hands and go their separate ways, and upon fueling the pilot is right back where they started, ultimately being charged the same price they were quoted in the first place.</p>
            <p>With FBO<em>linx</em> there is now a direct pipeline from FBOs to flight departments, ensuring that the specific customer pricing delivered by FBO<em>linx</em> is provided solely for their proprietary fuel volume profile.  Simply load your pricing into FBO<em>linx</em>, and with the click of a button it will be ported directly to a customer - no one else.</p>
            <p>FBO<em>linx</em> is a must-have for any fuel provider interested in having a more accessible relationship with customers, resulting in more business and increased efficiency.
            <p>Get to know the latest features available now.</p>
            <ul>
                <li><span class="redfontcolor">Automated</span></li>
                <li><span class="redfontcolor">Customizable</span></li>
                <li><span class="redfontcolor">Confidential and Secure</span></li>
                <li><span class="redfontcolor">Real Time Quoting</span></li>
            </ul>
        </div>
        <div class="span3">
            <div class="well">
                <strong><a href="http://www.paragonaviationgroup.com/" target="_blank"><img src="{{paragonSmallLogoImage}}" width="95" height="31"></a></strong>
                <hr>
                <p><i class="icon-tag"></i>Compatible with The <a href="http://www.paragonaviationgroup.com/" target="_blank">Paragon Network</a>.</p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row"></div>
    <br /><!--/row-->
</section>
