
    
    <mat-form-field appearance="fill">
        <mat-label>Choose an ICAO</mat-label>
        <mat-select [(ngModel)]="icao" (ngModelChange)="updateIcao($event)">
        <ng-container *ngFor="let icao of icaoList">
          <mat-option value="{{icao}}">{{icao}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    <div class="tables-container">
        <app-flight-watch-setting-table [data]="swimArrivals" [isArrival]="true"></app-flight-watch-setting-table>
        <app-flight-watch-setting-table [data]="swimDepartures" [isArrival]="false"></app-flight-watch-setting-table>
    </div>