<mat-card *ngIf="dataSource">
    <mat-card-header>
        <mat-card-title>Total Aircrafts: {{ dataSource.data.length }}</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input #input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        
        <div class="flight-watch-container">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="aircraftHexCode">
                    <th mat-header-cell *matHeaderCellDef> Hex Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.aircraftHexCode}} </td>
                </ng-container>
                
                <ng-container matColumnDef="atcFlightNumber">
                    <th mat-header-cell *matHeaderCellDef> Flight Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.atcFlightNumber}} </td>
                </ng-container>
                
                <ng-container matColumnDef="aircraftTypeCode">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.aircraftTypeCode}} </td>
                </ng-container>

                <ng-container matColumnDef="groundSpeedKts">
                    <th mat-header-cell *matHeaderCellDef> Ground Speed Kts </th>
                    <td mat-cell *matCellDef="let element"> {{element.groundSpeedKts}} </td>
                </ng-container>

                <ng-container matColumnDef="trackingDegree">
                    <th mat-header-cell *matHeaderCellDef> Tracking Degree </th>
                    <td mat-cell *matCellDef="let element"> {{element.trackingDegree}} </td>
                </ng-container>

                <ng-container matColumnDef="verticalSpeedKts">
                    <th mat-header-cell *matHeaderCellDef> Vertical Speed Kts </th>
                    <td mat-cell *matCellDef="let element"> {{element.verticalSpeedKts}} </td>
                </ng-container>

                <ng-container matColumnDef="gpsAltitude">
                    <th mat-header-cell *matHeaderCellDef> GPS Altitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.gpsAltitude}} </td>
                </ng-container>


                <ng-container matColumnDef="isAircraftOnGround">
                    <th mat-header-cell *matHeaderCellDef> Is on Ground </th>
                    <td mat-cell *matCellDef="let element"> {{element.isAircraftOnGround ? 'Yes' : 'No'}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <!-- Row shown when there is no matching data. -->
                <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="8">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>
        </div>
    </mat-card-content>
</mat-card>
