<ni-card [headerBgColor]="'gray'" title="Airport Departures and Arrivals" class="mb-1">
    <div class="chart-container">
        <div class="flex mb-2 position-relative">
            <div class="d-inline-block mr-2 ml-2" style="width: 130px">
                <mat-form-field>
                    <input
                        (dateChange)="refreshData()"
                        (focus)="dashboardSettingsStartDateFilter.open()"
                        [(ngModel)]="filterStartDate"
                        [matDatepicker]="dashboardSettingsStartDateFilter"
                        [max]="filterEndDate"
                        matInput
                        placeholder="Start Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsStartDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsStartDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="d-inline-block mr-2 ml-2" style="width: 130px">
                <mat-form-field>
                    <input
                        (dateChange)="refreshData()"
                        (focus)="dashboardSettingsEndDateFilter.open()"
                        [(ngModel)]="filterEndDate"
                        [matDatepicker]="dashboardSettingsEndDateFilter"
                        [min]="filterStartDate"
                        matInput
                        placeholder="End Date"
                    />
                    <mat-datepicker-toggle
                        [for]="dashboardSettingsEndDateFilter"
                        matSuffix
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #dashboardSettingsEndDateFilter
                        disabled="false"
                    ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="d-inline-block mr-2 ml-2">
                <p-multiSelect
                    class="airport-dropdown-filter"
                    [options]="customers"
                    [(ngModel)]="selectedCustomers"
                    optionLabel="company"
                    optionValue="customerInfoByGroupID"
                    display="chip"
                    placeholder="Select Customers"
                    (onChange)="filterChanged()"
                    [virtualScroll]="true"
                    itemSize="50"
                ></p-multiSelect>
            </div>
            <div class="d-inline-block mr-2 ml-2">
                <p-multiSelect
                    class="airport-dropdown-filter airport-dropdown-tails-filter"
                    [options]="tailNumbers"
                    [(ngModel)]="selectedTailNumbers"
                    optionLabel="tailNumber"
                    optionValue="tailNumber"
                    display="chip"
                    placeholder="Select Tail #"
                    (onChange)="filterChanged()"
                    [virtualScroll]="true"
                    itemSize="50"
                ></p-multiSelect>
            </div>
            <div class="d-inline-block mr-2 ml-2">
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="isFbolinxCustomers"
                    (change)="filterChanged()"
                >
                    Your FBOLinx Customers
                </mat-slide-toggle>
            </div>
            <div class="d-inline-block mr-2 ml-2">
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="isCommercial"
                    (change)="filterChanged()"
                >
                    Hide Commercial Flights
                </mat-slide-toggle>
            </div>
            <div class="actions">
                <button [matMenuTriggerFor]="gridActions" mat-icon-button>
                    <mat-icon aria-hidden="true" class="mat-icon material-icons" role="img">more_vert</mat-icon>
                </button>
                <mat-menu #gridActions="matMenu" class="switch-nested-menu-left-arrows" xPosition="before">
                    <button (click)="onExport()" mat-menu-item>Export</button>
                </mat-menu>
            </div>
        </div>

        <div class="table-container mat-elevation-z8">
            <table
                [dataSource]="dataSource"
                mat-table
                matSort
                matSortActive="dateTime"
                matSortDirection="desc"
            >
                <ng-container matColumnDef="company">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Company</th>
                    <td *matCellDef="let info" mat-cell> {{info.company}} </td>
                </ng-container>

                <ng-container matColumnDef="tailNumber">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Tail #</th>
                    <td *matCellDef="let info" mat-cell> {{info.tailNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="flightNumber">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Flight #</th>
                    <td *matCellDef="let info" mat-cell> {{info.flightNumber ? info.flightNumber : "N/A"}} </td>
                </ng-container>

                <ng-container matColumnDef="hexCode">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Hex # </th>
                    <td *matCellDef="let info" mat-cell> {{info.flightNumber ? info.hexCode : "N/A"}} </td>
                </ng-container>

                <ng-container matColumnDef="aircraftType">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Aircraft</th>
                    <td *matCellDef="let info" mat-cell> {{info.aircraftType}} </td>
                </ng-container>

                <ng-container matColumnDef="aircraftTypeCode">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Aircraft Type</th>
                    <td *matCellDef="let info" mat-cell> {{aircraftTypes[info.aircraftTypeCode].label}} </td>
                </ng-container>

                <ng-container matColumnDef="dateTime">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Date and Time</th>
                    <td *matCellDef="let info" mat-cell> {{info.flightNumber ? (info.dateTime | date:'MM/dd/YYYY HH:mm') : "N/A"}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Departure / Arrival</th>
                    <td *matCellDef="let info" mat-cell> {{info.flightNumber ? (info.status | airportWatchStatus) : "N/A"}}</td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                <tr
                    *matRowDef="let row; columns: displayedColumns;"
                    mat-row
                    (click)="onClickAircraft(row)"
                ></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>

            <ngx-ui-loader
                [loaderId]="chartName"
                bgsColor="rgb(100, 181, 246)"
                bgsPosition="center-center"
                bgsType="ball-spin"
                overlayColor="rgba(0, 0, 0, 0.1)"
            ></ngx-ui-loader>
        </div>
    </div>
</ni-card>
