@import "../../../../assets/sass/variable";

.chart-container {
    width: 100%;
}

.table-container {
    position: relative;
    height: 593px;
    overflow: auto;
}

table {
    width: 100%;
    margin: 0;
}

.mat-form-field {
    font-size: 14px;
}

.airport-dropdown-filter {
    ::ng-deep {
        .p-multiselect {
            min-width: 15rem;
            width: 15rem;
    
            .p-multiselect-panel {
                max-width: 100%;
            }
        }
    
        .p-component {
            font-size: 13px;
        }
    }
}

.mat-paginator-sticky {
    bottom: 0px;
    position: absolute;
    width: 100%;
}
