<ni-breadcrumb [menu]="breadcrumb"></ni-breadcrumb>

<div class="after-breadcrumb">
  <ni-card *ngIf="customers" class="report-card" title="Admin Reports" [headerBgColor]="'gray'">
    <button mat-flat-button class="generate-report-button" (click)="onGenerate()">
      <h5 class="mat-primary">Generate a Customer Price Sheet Download</h5>
      <p>This report allows you to download current pricing from each of your FBOs for a specific customer. Use to generate a price sheet for a customer at all your locations.</p>
    </button>
  </ni-card>
  <div *ngIf="!customers">
    <mat-spinner></mat-spinner>
</div>
</div>
