<div *ngIf="!groupInfo">
    <mat-spinner></mat-spinner>
</div>

<ni-card title="Group: {{groupInfo.groupName}}" class="mb-0" *ngIf="groupInfo">
    <div>
        <mat-tab-group>

            <!--FBOs Tab-->
            <mat-tab label="FBOs">
                <div class="mt-2">
                    <app-fbos-home [embed]="true" [groupInfo]="groupInfo"></app-fbos-home>
                </div>
                
            </mat-tab>

            <!--User Tab-->
            <mat-tab label="Users">
                <div class="mt-2">
                    <app-users-home [groupInfo]="groupInfo"></app-users-home>
                </div>
            </mat-tab>

            <!--Group Info Tab-->
            <mat-tab label="Group Info">
                <div class="container-fluid mt-2">
                    <div>
                        <h5>Account Info</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Group Name" [(ngModel)]="groupInfo.groupName" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 text-center">
                            <mat-slide-toggle color="accent"
                                              [(ngModel)]="groupInfo.active">Active</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="row mt-4 mb-5 pull-right">
                        <button
                            mat-stroked-button
                            color="green"
                            (click)="saveEdit()"
                            class="mr-1"
                        >
                            <mat-icon>save</mat-icon>
                            Save Changes
                        </button>
                        <button mat-stroked-button (click)="cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</ni-card>
