<div width="100%" class="aircraft-popup">
<div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>>
</div>
<div *ngIf="!isLoading">
      <div class="row pb-2">
      <div class="col-12 pl-4 pb-2" style="font-size:24px;"><i class="fa fa-plane"></i>&nbsp;{{ aircraftWatch?.tailNumber }}&nbsp;</div>
      </div>
      <div class="row pb-2">
          <div class="col-12"><hr class="info-values" /></div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Company</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.flightDepartment | NullOrEmptyToDefault }}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>FAA Registered Owner</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.faaRegisteredOwner | NullOrEmptyToDefault }}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Flight Number</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.atcFlightNumber| NullOrEmptyToDefault }}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Make/Model</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.aircraftMakeModel | NullOrEmptyToDefault }}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>On Ground</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.isAircraftOnGround }}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Last Quote</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.lastQuote}}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Origin</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.origin}}&nbsp;</p>
          </div>
      </div>
      <div class="row pb-2">
          <div class="col-6 info-labels">
              <p>Destination</p>
          </div>
          <div class="col-6 pl-4 info-values">
              <p>{{ aircraftWatch?.destination}}&nbsp;</p>
          </div>
      </div>
        <div class="row actions">
          <div class="col-6 info-labels">
              <button ni-button [view]="'gray'" class="customer-manager-button" [disabled]="isCustomerManagerButtonDisabled" (click)="goToCustomerManager(aircraftWatch.customerInfoByGroupId)"> Customer Manager</button>
          </div>
          <div class="col-6" *ngIf="isJetNetIntegrationEnabled">
              <button ni-button [view]="'accent'" [disabled]="!aircraftWatch?.tailNumber.startsWith('N')" (click)="openJetNetInformation()">Access JETNET</button>
          </div>
    </div>
</div>
