
.dialog-title {
    display: flex;
    justify-content: center;
}
.info-labels{
    text-align: end;
    text-decoration: underline;
    padding: 0 10px 0 0;
}
.info-values{
    text-align: start;
    padding: 0 0 0 10px;
    word-wrap: break-word;
}
.row-container {
    display: flex;
  }
.column-container {
    flex: 50%;
}

button{
    line-height: 2 ;
}
.customer-manager-button{
    padding: 0 10px;
}