
@import "../../../../assets/sass/variable";

.dialog-title {
    display: flex;
    justify-content: center;
}
.info-labels{
    font-weight: bold;
    padding-left: 30px;
}
.info-values{
    text-align: start;
    word-wrap: break-word;
    color: gray;
}
/*.row-container {
    display: flex;
    padding: 0 0 10px 20px;
  }*/
.column-container {
    flex: 50%;
}

button{
    line-height: 2;
    padding: 0 7px;

}
.mapboxgl-popup{
    min-height:525px;
}
.mapboxgl-popup-content
{
    min-height:525px;
    min-width:525px;
}
.actions {
    padding-top: 10px;
}
.aircraft-popup-container {
    min-height: 525px;
    padding: 20px;
}
hr.info-values {
    color: gray;
    opacity: 0.2;
}
