<div *ngIf="!customerAircraftInfo">
    <mat-spinner></mat-spinner>
</div>
<div class="" *ngIf="customerAircraftInfo">
    <div class="container-fluid">
        <div>
            <h5>General Information</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Tail Number" [(ngModel)]="customerAircraftInfo.tailNumber" />
                </mat-form-field>
            </div>
        </div>
        <!--<div class="col-md-6">
        <mat-form-field>
            <mat-select placeholder="Pricing" [(ngModel)]="customerAircraftInfo.aircraftPrices.PriceTemplateId">
                <mat-option *ngFor="let pricingTemplate of pricingTemplates" [value]="pricingTemplate.oid">
                    {{pricingTemplate.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>-->
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-select placeholder="Type" [(ngModel)]="customerAircraftInfo.aircraftId">
                        <mat-option *ngFor="let aircraftType of aircraftTypes" [value]="aircraftType.aircraftId">
                            {{aircraftType.make}} {{aircraftType.model}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-select placeholder="Size" [(ngModel)]="customerAircraftInfo.size">
                        <mat-option *ngFor="let aircraftSize of aircraftSizes" [value]="aircraftSize.value">
                            {{aircraftSize.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="row">
        <button ni-button [view]="'success'" beforeIcon="fa fa-floppy-o" (click)="saveEdit()" class="mr-1">Save Aircraft</button>
        <button mat-stroked-button (click)="cancelEdit()">Cancel</button>
    </div>
</div>
