<section id="contact">
    <div class="row">
        <div class="span12">
            <h2><em><i class="icon-bookmark"></i> Contact Info</em> <a class="up anchorLink" href="#home"><i class="icon-chevron-up"></i></a></h2>
        </div>
    </div>
    <div class="row" style="padding-bottom:300px;">
        <div class="span4">
            <h3><strong>FBO<em>linx</em>:</strong></h3>
            <h5><strong>A Division of DegaTech Systems Inc</strong></h5>
            <h6><strong>creators of FuelerLinx: Aviation Fuel  Software</strong> </h6>
            <hr>
            <p>
                131 5th Avenue
                <br />Suite 803
                <br />New York, NY  10003
                <br />Tel.: +1(415)779-5502
                <br />Fax: +1(213) 271-2341
        </div>
        <div class="span4">
            <h3>Email Us</h3><form>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Full Name:</label>
                        <input class="input-xlarge" type="text" id="name">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Valid Email:</label>
                        <input type="text" class="input-xlarge" id="email">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Phone Number:</label>
                        <input type="text" class="input-xlarge" id="phonenumber">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="message">Message:</label>
                        <textarea class="input-xlarge" id="message" rows="3"></textarea>
                    </div>
                    <div style="width:280px">
                        <div class="floatright">
                            <button type="submit" class="btn btn-primary" onclick="SendContactUsEmail();return false;">Submit Now!</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div><!--/span-->
    </div>
</section>
