<mat-drawer-container class="" style="min-height: 400px;">
    <mat-drawer #serviceOrderDrawer class="" mode="side">
        <div *ngIf="selectedServiceOrder">
            <app-service-orders-item-list [serviceOrder]="selectedServiceOrder"></app-service-orders-item-list>
        </div>
    </mat-drawer>

    <div class="container-fluid">
        <div class="row" *ngIf="!inCompleteServiceOrders || inCompleteServiceOrders.length == 0">
            <div class="col-12 text-center">
                No upcoming service orders.  You can <a (click)="addServiceOrderClicked()">add one to begin</a>.
            </div>
        </div>

        <mat-selection-list #incompletedServiceOrders>
            <mat-list-option *ngFor="let order of inCompleteServiceOrders" [value]="order">
                <div class="row" (click)="serviceOrderDrawer.toggle();serviceOrderClicked(order);" clickStopPropagation>
                    <div class="col-6">
                        <div>
                            {{order.serviceDateTimeUtc}} - {{order.customerAircraft.tailNumber}} - {{order.customerInfoByGroup.company}}
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <!--<button (click)="deleteServiceOrderClicked(order);$event.stopPropagation()" [view]="'error'" beforeIcon="fa fa-trash" ni-button size="small">
                            Delete
                        </button>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <sub>Services: {{order.numberOfCompletedItems}} of {{order.serviceOrderItems.length}}</sub>
                        </div>
                    </div>
                </div>
            </mat-list-option>
        </mat-selection-list>

        <!--<div *ngFor="let order of inCompleteServiceOrders;" class="row">
            <div class="col-12 cursor-pointer">
                
            </div>
        </div>-->


        <div *ngIf="completeServiceOrders && completeServiceOrders.length > 0">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Completed
                        </mat-panel-title>
                        <mat-panel-description>
                            Service orders that have been completed.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let order of completeServiceOrders;" class="row">
                        <div class="col-12 cursor-pointer">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        {{order.serviceDateTimeUtc}} - {{order.tailNumber}}
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <button (click)="deleteServiceOrderClicked(order);$event.stopPropagation()" [view]="'error'" beforeIcon="fa fa-trash" ni-button size="small">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <sub>Services: {{order.numberOfCompletedItems}} of {{order.serviceOrderItems.length}}</sub>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

   

</mat-drawer-container>
