<mat-drawer-container class="" style="min-height: 500px;">
    <mat-drawer #serviceOrderDrawer class="" mode="side">
        <div *ngIf="selectedServiceOrder">
            <app-service-orders-item-list [serviceOrder]="selectedServiceOrder" (serviceOrderItemsChanged)="serviceOrderItemsChanged($event)"></app-service-orders-item-list>
        </div>
    </mat-drawer>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <app-table-global-search (filterApplied)="filterChanged($event)"
                                         placeholder="Search by Company, Tail, etc."></app-table-global-search>
            </div>
        </div>

        <div class="row" *ngIf="allowAddingNew">
            <div class="col-12 text-right">
                <div>
                    <button (click)="addServiceOrderClicked()" [view]="'accent'" beforeIcon="fa fa-plus" class="action-btn"
                            ni-button size="small">
                        Add Order
                    </button>
                </div>
                
            </div>
        </div>


        <div class="row" *ngIf="!inCompleteServiceOrders || inCompleteServiceOrders.length == 0">
            <div class="col-12 text-center">
                No service orders found. <span *ngIf="allowAddingNew">You can <a class="btn-link" (click)="addServiceOrderClicked()">add one to begin</a>.</span> 
            </div>
        </div>

        <mat-selection-list #incompletedServiceOrders (selectionChange)="inCompleteServiceToggleChanged($event)">
            <mat-list-option *ngFor="let order of inCompleteServiceOrders" [value]="order" [selected]="order.isCompleted">
                <div clickStopPropagation (click)="serviceOrderClicked(order);serviceOrderDrawer.toggle();">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <div class="col-12 col-sm"><label>Customer:</label> {{order.customerInfoByGroup.company}}</div>
                                <div class="col-12 col-sm"><label>Tail: </label> {{order.customerAircraft.tailNumber}}</div>
                                <div class="col-12 col-sm"><label>ETA: </label> {{order.serviceDateTimeLocal | date: "MMM d, yyyy, @ HH:mm"}} (local)</div>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <!--<button (click)="deleteServiceOrderClicked(order);$event.stopPropagation()" [view]="'error'" beforeIcon="fa fa-trash" ni-button size="small">
                            Delete
                        </button>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <sub>Services: {{order.numberOfCompletedItems}} of {{order.serviceOrderItems.length}}</sub>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-list-option>
        </mat-selection-list>


        <div *ngIf="completeServiceOrders && completeServiceOrders.length > 0">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Completed ({{completeServiceOrders.length}})
                        </mat-panel-title>
                        <mat-panel-description>
                            Service orders that have been completed.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let order of completeServiceOrders;" class="row">
                        <div class="col-12 cursor-pointer">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        {{order.serviceDateTimeLocal | date: "MMM d, yyyy, HH:mm"}} - {{order.customerAircraft.tailNumber}} - {{order.customerInfoByGroup.company}}
                                    </div>
                                    <div>
                                        <sub>Services: {{order.numberOfCompletedItems}} of {{order.serviceOrderItems.length}}</sub>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <div class="pt-1">
                                        <button (click)="deleteServiceOrderClicked(order);$event.stopPropagation()" [view]="'error'" beforeIcon="fa fa-trash" ni-button size="small">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

   

</mat-drawer-container>
