.chart-container {
    height: 100%;
}
.table-container {
    height: calc(100% - 75px);
    overflow: auto;
}

.actions {
    position: absolute;
    right: 10px;
    top: 90px;
    transform: translateY(-50%);
    z-index: 9999;
}
