.ramp-fee-details-expansion {
    cursor: pointer;
}

.ramp-fee-details-expansion-icon {
    display: inline-flex;
    vertical-align: middle;
}

.ramp-fee-details-expansion-label {
    display: inline-flex;
}

.applies-to-container {
    max-height: 100px;
    overflow-y: auto;
}
