@import "../../../../assets/sass/variable";

:host {
    background: main-color(50);
    bottom: 0;
    box-shadow: -5px 0 5px -4px rgba(#000, 0.25);
    color: main-contrast(50);
    position: fixed;
    right: 0;
    top: $navbar-height;
    transform: translate(450px, 0);
    transition: 0.2s transform 0s $animation, 0s z-index 0.2s $animation;
    width: 450px;
    z-index: 99998;

    table {
        width: 100%;
        background: rgba(0, 0, 0, 0) !important;

        & tr:hover {
            background: rgb(207, 208, 212) !important;
        }
    }

    p {
        color: $info-color;
    }

    .mat-paginator {
        background: rgba(0, 0, 0, 0) !important;
    }

    @media only screen and (max-width: 543px) {
        transform: translate(270px, 0);
        width: 270px;
    }

    .rtl & {
        left: 0;
        right: auto;
        transform: translate(-300px, 0);

        @media only screen and (max-width: 543px) {
            transform: translate(-270px, 0);
        }
    }

    &.open {
        transform: translate(0, 0);
        transition: 0.2s transform 0s $animation, 0.2s z-index 0s $animation;
        z-index: 99999;
    }

    .open-navbar {
        align-items: center;
        background: main-color(50);
        /*border: 1px solid main-color(50);*/
        border: 1px solid #e5e6e9;
        border-right: 0;
        border-radius: $shape 0 0 $shape;
        color: main-contrast(50);
        display: flex;
        font-size: 20px;
        height: 100px;
        justify-content: center;
        margin-right: -1px;
        position: absolute;
        right: 100%;
        top: 92px;
        transition: color 0.2s $animation;
        width: 50px;

        .rtl & {
            border-radius: 0 $shape $shape 0;
            left: 100%;
            right: auto;
        }

        &:hover {
            color: accent-color(500);
        }
    }

    .navbar-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .navbar-header {
            align-items: center;
            background: rgb(207, 208, 212); //main-color(700);
            color: main-contrast(200);
            display: flex;
            font-weight: bold;
            height: $module-rem * 5;
            padding: $module-rem ($module-rem * 2);
        }

        .navbar-content {
            flex-grow: 1;
            overflow: auto;
            //padding: ($module-rem * 2);
            width: 100%;
        }
    }

    ::-webkit-scrollbar {
        width: 15px;
    }
}



