:host {
    display: block;
    position: relative;
}

.mobile-header {
    display: none;
}

/*Mobile Devices*/
@media (max-width: 500px) {
    .mobile-header {
        position: absolute;
        padding-top: 10px;
        padding-left: 15px;
    }
}
@media (min-width: 800px) {
    .app-fbos-missed-quotes-grid{
        min-height: 500px;
    }
}
.map-container {
    height: 500px;
}
.app-flight-watch-map{
    width: 100%;
}

