:host {
    position: relative;
    display: block;

    ::ng-deep {
        .mat-tab-body {
            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
