

.mat-card-header .mat-card-title{
    padding: 0px ;
    margin: 0px ;
    font-weight: bold ;
}
.mat-cell{
    min-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size: 12px;
}
.mat-header-row .mat-header-cell {
    min-width: 80px;
}
.mat-table{
    overflow: auto;
}
.mat-card {
    padding-top: 0px;
    overflow: hidden;
}
