<div class="table-container">
    <p class="table-header">{{ getSwimDataTypeString() }}</p>
    <table
        mat-table
        [dataSource]="data"
        multiTemplateDataRows
    >
        <ng-container
            matColumnDef="{{ column }}"
            *ngFor="let column of columnsToDisplay"
        >
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">
                {{ getColumnData(element, column) }}
            </td>
        </ng-container>
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
                <button
                    mat-icon-button
                    aria-label="expand row"
                    (click)="
                        expandedElement =
                            expandedElement === element ? null : element;
                        $event.stopPropagation()
                    "
                >
                    <mat-icon *ngIf="expandedElement !== element"
                        >keyboard_arrow_down</mat-icon
                    >
                    <mat-icon *ngIf="expandedElement === element"
                        >keyboard_arrow_up</mat-icon
                    >
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplayWithExpand.length"
            >
                <div
                    class="example-element-detail"
                    [@detailExpand]="
                        element == expandedElement ? 'expanded' : 'collapsed'
                    "
                >
                    <div class="example-element-description">
                        <table class="description-table">
                            <tr>
                                <td>{{ element.status }}</td>
                                <td>Altitude: {{ element.altitude }}</td>
                                <td>
                                    ETA/ATD:
                                    {{
                                        this.getDateObject(element.etaLocal)
                                            | ToReadableDateTime
                                    }}
                                </td>
                                <td>Origin City: {{ element.city }}</td>
                            </tr>
                            <tr>
                                <td>{{ element.status }}</td>
                                <td>
                                    Past Arrvals at
                                    {{ element.arrivalICAO }} (30 days):
                                    {{ element.visitsToMyFBO }}
                                </td>
                                <td>
                                    Make/Model:
                                    {{
                                        this.getMakeModelDisplayString(element)
                                    }}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Fuel Capacity (gal):
                                    {{ element.fuelCapacityGal }}
                                </td>
                                <td>
                                    FuelerLinx ID: {{ element.fuelerlinxID }}
                                </td>
                                <td>
                                    Transaction Status:
                                    {{ element.transactionStatus }}
                                </td>
                                <td>{{ element.phone }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
                expandedElement = expandedElement === element ? null : element
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
        ></tr>
    </table>
</div>
