
table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
    min-width: 70px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding: 10px;
  }

  .example-element-detail {
    overflow: hidden;
    width: 100%;
  }


  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  tr.mat-row, tr.mat-footer-row, th.mat-header-cell {
    height: auto;
    padding: 0 0 0 10px;
    margin: 0px;
}
th{
font-weight: bolder;
font-size: 14px;
}
table.description-table {
    border-collapse: collapse;
    width: 100%;
    th, td {
        text-align: left;
        padding: 4px;
        font-size: 12px;
      }

  }

  .table-container{
    padding: 0px 20px 0px 20px;
  }

  .hide {
    display: none;
}
.table-header-container{
    p.table-header{
        font-weight: bold;
        font-size: 15px;
        padding: 20px 0px 0px 20px;
        margin: 0px;
      }
  }

.table-container {
    overflow: auto;
    height: 100%;
}
