<mat-card class="flight-watch-settings-container">
    <mat-card-header>
        <mat-card-title>
            {{getSwimDataTypeString()}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-spinner *ngIf="!data"></mat-spinner>
        <div class="flight-watch-container" *ngIf="data">
            <mat-table [dataSource]="data" matSort>
                <ng-container matColumnDef="flightDepartment">
                    <mat-header-cell *matHeaderCellDef>Flight Department</mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ element.flightDepartment }}">
                        {{ element.flightDepartment }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tailNumber">
                    <mat-header-cell *matHeaderCellDef>Tail Number</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.tailNumber }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="make-model">
                    <mat-header-cell *matHeaderCellDef>Make/Model</mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ geMakeModelDisplayString(element) }}">
                        {{ geMakeModelDisplayString(element) }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eta">
                    <mat-header-cell *matHeaderCellDef>ETA (Local)</mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ element.etaLocal }}">
                        {{ element.etaLocal |  ToReadableDateTime }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ete">
                    <mat-header-cell *matHeaderCellDef>ETE</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.ete |  ToReadableTime}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="origin-destination">
                    <mat-header-cell *matHeaderCellDef>
                        {{
                            isArrival
                                ? 'Origin'
                                : 'Destination'
                        }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ getOriginDestinationString(element) }}" >
                        {{
                            getOriginDestinationString(element)
                        }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.city }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="altitude">
                    <mat-header-cell *matHeaderCellDef>Altitude</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.altitude }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isAircraftOnGround">
                    <mat-header-cell *matHeaderCellDef>On Ground</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.isAircraftOnGround }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eta-atd">
                    <mat-header-cell *matHeaderCellDef>ETA/ATD</mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ element.etaZulu }}">
                        {{ getDateObject(element.etaLocal) | getTime }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="itpMarginTemplate">
                    <mat-header-cell *matHeaderCellDef>
                        ITP Margin Template
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltip="{{ element.itpMarginTemplate }}">
                        {{ element.itpMarginTemplate }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="atd">
                    <mat-header-cell *matHeaderCellDef>ATD</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.atdLocal }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fuelCapacityGal">
                    <mat-header-cell *matHeaderCellDef>Fuel Capacity</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        {{ element.fuelCapacityGal }}
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="visibleColumns; sticky: true"
                ></mat-header-row>
                <mat-row *matRowDef="let row; columns: visibleColumns" (click)="openPopup(row)"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>
