<div>
    <div style="font-weight: bold;"><h5>%PRICING_TEMPLATE_NAME%</h5></div>
    <table>
        <thead>
        <tr>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                Tier
            </th>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                ITP
            </th>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                All-In PPG
            </th>
        </tr>
        </thead>
        <tbody>
        %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
    <div>
        <span style="font-weight: bold;">Notes: </span> %PRICING_TEMPLATE_NOTES%
    </div>
</div>