<div style="line-height:30px;">
    <table style="line-height:40px; font-size:20px;">
        <thead>
            <tr>
                <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                    Tier (gal.)
                </th>
                <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                    All-In PPG
                </th>
                <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                    Product
                </th>
            </tr>
        </thead>
        <tbody>
        %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
</div>