<div>
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th colspan="5" style="font-family: Arial; font-size: 13px; ">%PRODUCT% Pricing</th>
            </tr>
            <tr>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Volume Tier
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Int/Comm
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Int/Private
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Dom/Comm
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Dom/Private
                </th>
            </tr>
        </thead>
        <tbody>
        %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
</div>