<div style="line-height:30px;">
    <div style="font-weight: bold;"><h5>%PRICING_TEMPLATE_NAME%</h5></div>
    <table style="line-height:40px; font-size:20px;">
        <thead>
        <tr>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                Tier (gal.)
            </th>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                ITP
            </th>
            <th style="background-color: lightgray; border: 1px solid gray; padding: 4px;">
                All-In PPG
            </th>
        </tr>
        </thead>
        <tbody>
        %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
</div>