<div>
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th colspan="3" style="font-family: Arial; font-size: 13px; ">%PRODUCT% Pricing</th>
            </tr>
            <tr>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Volume Tier
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Private Flights
                </th>
                <th style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">
                    Commerical Flights
                </th>
            </tr>
        </thead>
        <tbody>
            %PRICE_BREAKDOWN_ROWS%
        </tbody>
    </table>
</div>