<tr>
    <td style='font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; '>%MIN_GALLON%&nbsp;-&nbsp;%MAX_GALLON%</td>
    <td style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">%ALL_IN_PRICE_INT_COMM%</td>
    <td style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">%ALL_IN_PRICE_INT_PRIVATE%</td>
    <td style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">%ALL_IN_PRICE_DOMESTIC_COMM%</td>
    <td style="font-family: Arial; font-size: 13px; border: 1px solid black; padding: 4px; ">%ALL_IN_PRICE_DOMESTIC_PRIVATE%</td>
</tr>