@import "../../../../assets/sass/variable";

.service-card {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid $card-header-bg;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0px rgba(main-color(500), 0.25);*/
    height: 100%;

    .row {
        height: 100%;

        .text {
            margin-top:auto;
            margin-bottom:auto;

            .mat-checkbox {
                margin-bottom: 0px;
            }
        }
    }
}

.services-cards-container {
    display: flex;
    justify-content: space-around;
}

/*input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100%;
}*/

.mat-form-field-no-padding .mat-form-field-wrapper {
    margin-top: -1.25em;
    margin-bottom: -1.25em;
}

.add-button-row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    button {
        font-weight: bold;
    }
}

.actions-buttons {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

.text-gray-dark {
    color: #292b2c !important;
}
.services {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
