<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="row">
   
    <div class="col-10">
        <div class="row mat-elevation-z">
            <ng-container *ngFor="let service of fuelreqsServicesAndFeesGridDisplay;">
                <div class="col-3">
                    <ni-card customStyle="padding: 5px 5px; height: 88px;">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 text">
                                    <mat-checkbox [(ngModel)]="service.isCompleted" (change)="updateCompletedFlag(service)">
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 text" *ngIf="!service.isEditMode && !service.isAddMode">
                                    <span *ngIf="!service.isCompleted">{{service.serviceName}}</span>
                                    <span *ngIf="service.isCompleted"><s>{{service.serviceName}}</s></span>
                                </div>
                                <div class="col-6 text" *ngIf="service.isEditMode">
                                    <span>
                                        <app-autocomplete-search  [filter]="service.serviceName" (selectionChanged)="onAddServiceChanged(service, $event)" (filterChanged)="onAddServiceChanged(service, $event)" [options]="servicesAndFees">
                                        </app-autocomplete-search>
                                    </span>
                                </div>
                                <div class="col-6 text" *ngIf="service.isAddMode">
                                    <span>
                                        <app-autocomplete-search (selectionChanged)="onAddServiceChanged(service, $event)" (filterChanged)="onAddServiceChanged(service, $event)" [options]="servicesAndFees">
                                        </app-autocomplete-search>
                                    </span>
                                </div>
                                <div class="col-4 text" *ngIf="service.isEditMode">
                                    <button [view]="'accent'"
                                            beforeIcon="fa fa-save"
                                            ni-button
                                            size="small"
                                            [disabled]="service.serviceName == ''"
                                            (click)="updateServiceName(service)">
                                        Apply
                                    </button>
                                    <!--<button ni-button
                                            size="small"
                                            (click)="cancelEdit(service)">
                                        Cancel
                                    </button>&nbsp;-->
                                </div>
                                <div class="col-4 text" *ngIf="service.isAddMode">
                                    <button [view]="'accent'"
                                            beforeIcon="fa fa-plus"
                                            ni-button
                                            size="small"
                                            *ngIf="!service.isAdding"
                                            [disabled]="newServiceOrderItem.serviceName == ''"
                                            (click)="add(service)">
                                        Add
                                    </button>
                                    <div *ngIf="service.isAdding">
                                        <mat-spinner diameter="20"></mat-spinner>
                                    </div>
                                </div>
                                <div class="col-4 text" *ngIf="!service.isEditMode && !service.isAddMode">
                                    <span><mat-icon class="material-icons-outlined" (click)="toogleEditModel(service)">edit</mat-icon></span>
                                    <span><mat-icon class="material-icons-outlined" (click)="deleteItem(service, service.serviceName)">delete</mat-icon></span>
                                    <span [matTooltip]="getInfoTooltipText(service)"><mat-icon class="material-icons-outlined">info</mat-icon></span>
                                </div>
                            </div>
                        </div>
                    </ni-card>
                    

                </div>
            </ng-container>
        </div>
    </div>
    <div>VIEW NOTES BUTTON</div>
</div>
