<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4" [livePrice]="updatedPrice"></ni-breadcrumb>

<div class="row">
    <ni-card [outline]="true">
        <app-fbo-prices-home style="width: 100%;"></app-fbo-prices-home>
    </ni-card>
    
</div>

<div class="row" *ngIf="dashboardSettings">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput [max]="dashboardSettings.filterEndDate" [(ngModel)]="dashboardSettings.filterStartDate" [matDatepicker]="dashboardSettingsStartDateFilter" (focus)="dashboardSettingsStartDateFilter.open()" placeholder="Start Date" (dateChange)="applyDateFilterChange({})">
                    <mat-datepicker-toggle matSuffix [for]="dashboardSettingsStartDateFilter"></mat-datepicker-toggle>
                    <mat-datepicker #dashboardSettingsStartDateFilter disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput [min]="dashboardSettings.filterStartDate" [(ngModel)]="dashboardSettings.filterEndDate" [matDatepicker]="dashboardSettingsEndDateFilter" (focus)="dashboardSettingsEndDateFilter.open()" placeholder="End Date" (dateChange)="applyDateFilterChange({})">
                    <mat-datepicker-toggle matSuffix [for]="dashboardSettingsEndDateFilter"></mat-datepicker-toggle>
                    <mat-datepicker #dashboardSettingsEndDateFilter disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <app-statistics-total-orders #statisticsTotalOrders [options]="statisticsOptions"></app-statistics-total-orders>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-total-customers #statisticsTotalCustomers [options]="statisticsOptions"></app-statistics-total-customers>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-total-aircraft #statisticsTotalAircraft [options]="statisticsOptions"></app-statistics-total-aircraft>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-orders-by-location #statisticsOrdersByLocation [options]="statisticsOptions"></app-statistics-orders-by-location>
    </div>
</div>
