<ni-breadcrumb
    [menu]="breadcrumb"
    [style]="'custom1'"
    class="mb-4"
></ni-breadcrumb>

<app-fbo-prices-panel
    load="false"
    style="
        position: absolute;
        top: -14px;
        right: 12px;
    "
></app-fbo-prices-panel>

<div class="row">
    <app-fbo-prices-home style="width: 100%;"></app-fbo-prices-home>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <app-statistics-total-orders
            #statisticsTotalOrders
            [startDate]="filterStartDate"
            [endDate]="filterEndDate"
        ></app-statistics-total-orders>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-total-customers
            #statisticsTotalCustomers
            [startDate]="filterStartDate"
            [endDate]="filterEndDate"
        ></app-statistics-total-customers>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-total-aircraft
            #statisticsTotalAircraft
            [startDate]="filterStartDate"
            [endDate]="filterEndDate"
        ></app-statistics-total-aircraft>
    </div>

    <div class="col-md-6 col-xl-3">
        <app-statistics-orders-by-location
            #statisticsOrdersByLocation
            [startDate]="filterStartDate"
            [endDate]="filterEndDate"
        ></app-statistics-orders-by-location>
    </div>
</div>
