.effective-date-time {
    width: 230px;
}

.fbo-prices-error-msg {
    position: absolute;
    right: 0;
    white-space: nowrap;
    top: calc(100% + 5px);
    font-size: 12px;
    color: red;
}

div.container-fluid > .row {
    line-height: 35px;
}

.container-fluid.pricing-update-generator .row .col-12 {
    line-height: 42px;
}

@media (min-width: 768px) {
    .pricing-update-generator-container {
        min-width: 1400px;
    }

    .container-fluid.pricing-update-generator .row .col-12 {
        line-height: initial;
    }
}


