SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CompanyPricingLog](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] int NOT NULL,
	[ICAO] varchar(10) NULL,
	[CreatedDate] datetime NULL
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CompanyPricingLog] 
ADD CONSTRAINT df_CreatedDate
DEFAULT getdate() for [CreatedDate]

GO
