USE [paragon_test]
GO
/****** Object:  StoredProcedure [dbo].[up_Delete_Customer]    Script Date: 7/13/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--region [dbo].[up_Delete_MembersLogin]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Burt using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Delete_MembersLogin]
-- Date Generated: Tuesday, June 26, 2012
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Delete_Customer]
	@OID int,
	@GroupID int
AS

SET NOCOUNT ON

IF (@GroupID = 1)
	begin
		DELETE CIG
		FROM CustomerInfoByGroup CIG
		INNER JOIN Customers C ON C.OID = CIG.CustomerID AND CIG.GroupID = @GroupID AND C.OID = @OID

		DELETE CIBG
		FROM ContactInfoByGroup CIBG
		INNER JOIN CustomerContacts CC ON CC.ContactID = CIBG.ContactID
		INNER JOIN Customers C ON C.OID = @OID AND CC.CustomerID = C.OID AND CIBG.GroupID = @GroupID

		DELETE
		FROM CustomerAircrafts
		WHERE CustomerID = @OID AND GroupID = @GroupID
	end



--endregion
