/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_AircraftPrices]    Script Date: 3/2/2021 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--region [dbo].[up_InsertUpdate_PriceTier]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Burt using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_AircraftPrices]
-- Date Generated: 8/1/2012
--*********************************************
--              Change History
--*********************************************
--  09/19/2013  CL  Added Insert AircraftPrices for each FBO in group for non-Paragon
--  10/01/2013  CL  Added GroupID > 1 into Insert AircraftPrices for non-Paragon
--  10/31/2013  CL  Added ISNULL(A.OID, 0) = 0 to non-Paragon SQL to fix bug of trying to add duplicate records
--  02/25/2014  CL  Added in delete query for AircraftPrices with OID of 0 in order to prevent duplicate records
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_AircraftPrices]
	@AircraftPrices AircraftPriceType2 READONLY
AS
BEGIN
	DELETE AP
	FROM AircraftPrices AP
	INNER JOIN @AircraftPrices A ON A.CustomerAircraftID = AP.CustomerAircraftID
	INNER JOIN PricingTemplate pt on pt.OID = A.PriceTemplateID AND pt.OID = AP.PriceTemplateID
	INNER JOIN FBOs F on pt.FBOID = F.OID
	WHERE ISNULL(A.OID, 0) = 0

	INSERT INTO AircraftPrices (CustomerAircraftID, PriceTemplateID, CustomTemplate)
	SELECT CustomerAircraftID, PriceTemplateID, CustomTemplate
	FROM @AircraftPrices
	WHERE ISNULL(OID , 0) = 0

	UPDATE AP
	SET CustomerAircraftID = A.CustomerAircraftID,
		PriceTemplateID = A.PriceTemplateID,
		CustomTemplate = A.CustomTemplate
	FROM AircraftPrices AP
	INNER JOIN @AircraftPrices A ON A.OID = AP.OID
END
