/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_PricingTemplate]    Script Date: 3/2/2021 11:40:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--region [dbo].[up_InsertUpdate_PricingTemplate]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Burt using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_PricingTemplate]
-- Date Generated: Monday, July 30, 2012
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_PricingTemplate]
	@OID int,
	@Name varchar(500),
	@FBOID int,
	@CustomerID int,
	@Default bit,
	@Notes varchar(MAX),
	@Type smallint = 0,
	@MarginType int = 0
AS

SET NOCOUNT ON

DECLARE @NumberOfTemplates int = 0
DECLARE @GroupID int = 1

IF EXISTS(SELECT [OID] FROM [dbo].[PricingTemplate] WHERE [OID] = @OID)
BEGIN
	UPDATE [dbo].[PricingTemplate] SET
		[Name] = @Name,
		[FBOID] = @FBOID,
		[CustomerID] = @CustomerID,
		[Default] = @Default,
		[Notes] = @Notes,
		[Type] = @Type,
		MarginType = @MarginType
	WHERE
		[OID] = @OID
END
ELSE
BEGIN
	INSERT INTO [dbo].[PricingTemplate] (
		[Name],
		[FBOID],
		[CustomerID],
		[Default],
		[Notes],
		[Type],
		MarginType
	) VALUES (
		@Name,
		@FBOID,
		@CustomerID,
		@Default,
		@Notes,
		@Type,
		@MarginType
	)
	SET @OID = @@IDENTITY
	
	--New price template for an FBO.  Insert it for all aircraft
	--SELECT @NumberOfTemplates = COUNT (F.GroupID), @GroupID = F.GroupID
	--FROM PricingTemplate PT
	--INNER JOIN FBOs F
	--	ON F.OID = @FBOID AND F.OID = PT.FBOID AND F.GroupID > 1
	--Group By F.GroupID

	--IF (@Default = 1 OR @NumberOfTemplates = 1)
	--	BEGIN
	--		INSERT INTO AircraftPrices (CustomerAircraftID, PriceTemplateID)
	--		SELECT OID, @OID
	--		FROM CustomerAircrafts
	--		WHERE GroupID = @GroupID
	--	END
END

SELECT @OID AS OID

--endregion
