
/****** Object:  StoredProcedure [dbo].[up_InsertUpdate_FBOContact]    Script Date: 8/19/2020 9:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--region [dbo].[up_InsertUpdate_FBOContact]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Burt using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_InsertUpdate_FBOContact]
-- Date Generated: Tuesday, June 26, 2012
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_InsertUpdate_FBOContact]
	@OID int = 0,
	@Email varchar(255),
	@FBOID int,
	@FirstName varchar(50),
	@LastName varchar(50),
	@Phone varchar(100),
	@Address varchar(255),
	@City varchar(255),
	@State varchar(10),
	@Country varchar(255),
	@Fax varchar(50),
	@Mobile varchar(50),
	@Title varchar(50),
	@Primary bit,
	@CopyAlerts bit,
	@Extension varchar(50) = '' 
AS

SET NOCOUNT ON

declare @ExistingContactID int

select @ExistingContactID = c.oid
from fbocontacts f
inner join contacts c on c.oid = f.contactid
inner join fbos fb on fb.oid = f.fboid
left join customercontacts cc on cc.contactid = c.oid
where fb.oid = @FBOID
and c.Email = @Email

if (isnull(@ExistingContactID, 0) > 0)
	begin
		SET @OID = @ExistingContactID
	end

IF EXISTS(SELECT [OID] FROM [dbo].[Contacts] WHERE [OID] = @OID)
BEGIN
	UPDATE [dbo].[Contacts] SET
		[Email] = @Email,
		[FirstName] = @FirstName,
		[LastName] = @LastName,
		[Phone] = @Phone,
		[Address] = @Address,
		[City] = @City,
		[State] = @State,
		[Country] = @Country,
		[Fax] = @Fax,
		[Mobile] = @Mobile,
		[Title] = @Title,
		[Primary] = @Primary,
		[CopyAlerts] = @CopyAlerts,
		Extension = @Extension
	WHERE
		[OID] = @OID
END
ELSE
BEGIN
	INSERT INTO [dbo].[Contacts] (
		[Email],
		[FirstName],
		[LastName],
		[Phone],
		[Address],
		[City],
		[State],
		[Country],
		[Fax],
		[Mobile],
		[Title],
		[Primary],
		[CopyAlerts],
		Extension
	) VALUES (
		@Email,
		@FirstName,
		@LastName,
		@Phone,
		@Address,
		@City,
		@State,
		@Country,
		@Fax,
		@Mobile,
		@Title,
		@Primary,
		@CopyAlerts,
		@Extension
	)
	
	SET @OID = @@IDENTITY
	
	INSERT INTO FBOContacts (FBOID, ContactID)
	values (@FBOID, @OID)
END

SELECT @OID
--endregion
