
/****** Object:  StoredProcedure [dbo].[up_Load_Group]    Script Date: 6/10/2020 4:04:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--region [dbo].[up_Load_Fbo]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Burt using CodeSmith 6.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[up_Load_Fbo]
-- Date Generated: Tuesday, June 26, 2012
--*********************************************
--              Change History
--*********************************************
--  09/07/2013  CL Added in CustomCustomerType left join into the Customers select
--  09/13/2013  CL Added left join of FBOLogos into FBOs select
--  09/29/2013  CL Added in check for Active column in Customers select
--Chau Ly: 10/18/13- Left join RampFeeSettings
--  12/03/2013  CL Left join FBOPreferences
-- 01/16/2014	CL	Added in AddedFrom column for CustomerAircrafts query
-- 01/21/2014	CL	Added Domain column to SELECT Group query
-- 02/12/2014	CL	Changed CustomerType to include default CustomerType if Custom isn't available
-- 02/24/2014	CL	Changed HideInFBOLinx to not include Paragon
-- 03/27/2014	CL	Undid changes from 2/24/2014
-- 01/06/2015	CL	Added LoggedInHomePage
-- 03/28/2018	CL	Added in synonym for Dega table
------------------------------------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[up_Load_Group]
	@Username varchar(50) = '',
	@Password varchar(50) = '',
	@IsFBOLogin bit = 0,
	@GroupID int = 0
AS

declare @GroupName varchar(255) = ''
declare @FBOID int = null
declare @CustomerID int = 0
--Logintype: 1 = Group, 2 = FBO, 3 = Customer
declare @LoginType smallint = 0
declare @IsFBONetwork bit = 0
declare @Domain varchar(MAX) = ''
declare @LoggedInHomePage varchar(50) = ''

IF (ISNULL(@GroupID, 0) = 0)
BEGIN
	SELECT @GroupID = OID, @LoginType = 1, @IsFBONetwork = IsFBONetwork, @Domain = Domain, @LoggedInHomePage = LoggedInHomePage
	FROM [Group]
	WHERE Username = @Username
	AND [Password] = @Password
END
ELSE
BEGIN
	SET @LoginType = 1
END

IF (ISNULL(@GroupID, 0) = 0)
	BEGIN
		SELECT @GroupID = GroupID, @LoginType = 2, @FBOID = F.OID, @IsFBONetwork = IsFBONetwork, @Domain = Domain, @LoggedInHomePage = LoggedInHomePage
		FROM FBOs F
		inner join [Group] G ON G.OID = F.GroupID
		AND F.Username = @Username
		AND F.[Password] = @Password
		AND F.Active = 1
		and ISNULL(F.suspended, 0) = 0
	END

IF (ISNULL(@GroupID, 0) = 0)
	BEGIN
		SELECT @GroupID = C.GroupID, @LoginType = 3, @CustomerID = C.CustomerID
		FROM CustomerInfoByGroup C
		WHERE C.Username = @Username
		AND C.Password = @Password
		and ISNULL(suspended, 0) = 0
		and ISNULL(active,0) = 1
	END

IF (ISNULL(@GroupID, 0) > 0 AND @IsFBOLogin = 1)
BEGIN
		SELECT @GroupID = GroupID, @LoginType = 2, @FBOID = F.OID, @IsFBONetwork = IsFBONetwork, @Domain = Domain, @LoggedInHomePage = LoggedInHomePage
		FROM FBOs F
		inner join [Group] G ON G.OID = F.GroupID
		AND G.OID = @GroupID
		AND F.Active = 1
		and ISNULL(F.suspended, 0) = 0
	END
	
SELECT @GroupID = G.OID,
		@GroupName = G.[Group],
		@IsFBONetwork = G.IsFBONetwork,
		@Domain = G.Domain
FROM [Group] G
WHERE (G.Username = @Username AND G.Password = @Password AND @GroupID < 1)
OR (@GroupID > 0 AND G.OID = @GroupID)

IF (@GroupID > 0)
BEGIN
	--Update last login if login is FBO
	IF (@LoginType = 2)
	BEGIN
	UPDATE FBOs
	SET LastLogin = GETDATE()
	WHERE OID = @FBOID
	END
	
	--Group information
	SELECT @GroupID AS GroupID, 
			@GroupName AS GroupName, 
			@LoginType AS LoginType,
			@CustomerID AS CustomerID,
			@FBOID AS FBOID,
			@IsFBONetwork AS IsFBONetwork,
			@Domain AS Domain,
			@LoggedInHomePage AS LoggedInHomePage
	
	--FBOs for the group
	SELECT F.*, FST.FBOID, FST.SalesTax100LLDecimal, FST.SalesTaxDecimal, FL.LogoFilename, RFS.HasRampFees, FP.CostCalculator, FP.Omit100LLCost, FP.Omit100LLRetail, FP.OmitJetACost, FP.OmitJetARetail
	FROM FBOs F
	LEFT JOIN FBOSalesTax FST ON FST.FBOID = F.OID
	LEFT JOIN FBOLogos FL ON FL.FBOID = F.OID
	LEFT JOIN RampFeeSettings RFS ON RFS.FBOID = F.OID
	LEFT JOIN FBOPreferences FP ON FP.FBOID = F.OID
	WHERE GroupID = @GroupID
	
	--FBO contacts
	SELECT FC.*, C.[Address], C.City, C.CopyAlerts, C.Country, C.Email, C.Extension, C.Fax, C.FirstName, C.LastName, C.Mobile,
	    C.Phone, C.[Primary], C.[State], C.Title
	FROM FBOContacts FC
	INNER JOIN Contacts C ON C.OID = FC.ContactID
	INNER JOIN FBOs F ON F.OID = FC.FBOID
	WHERE F.GroupID = @GroupID
	
	--FBO locations
	SELECT FL.FBOID, FL.OID, FL.DefaultTemplate, A.*
	FROM FBOAirports FL
	INNER JOIN FBOs F ON F.OID = FL.FBOID
	LEFT JOIN DEGA_Airports A ON A.ICAO = FL.ICAO
	WHERE F.GroupID = @GroupID
	
	--Customers for the group
	SELECT C.[Action], C.Margin, C.Pilot, C.Title, C.CheckFuelPrice, C.Lastlogin, C.OID, C.FuelerlinxID,
	CIG.Active, CIG.[Address], CIG.CertificateType, CIG.City, CIG.Company, CIG.Country, CIG.CustomerCompanyType, CIG.CustomerID, CIG.CustomerType, CIG.DefaultTemplate,
	CIG.Distribute, CIG.EmailSubscription, CIG.GroupID, CIG.Joined, CIG.MainPhone, CIG.Network, CIG.[Password], CIG.SFID, CIG.Show100LL, CIG.ShowJetA, CIG.[State],
	CIG.Suspended, CIG.Username, CIG.Website, CIG.ZipCode
	,ISNULL(CCT.CustomerType, ISNULL(CIG.[CustomerType], 0)) AS CustomerType,
      ISNULL(CIG.[CustomerType], 0) AS DefaultCustomerType
	FROM Customers AS C
	INNER JOIN CustomerInfoByGroup AS CIG ON CIG.CustomerID = C.OID AND CIG.GroupID = @GroupID
	LEFT JOIN CustomCustomerTypes AS CCT ON (CCT.CustomerID = CIG.CustomerID AND CCT.FBOID = @FBOID)
	LEFT JOIN FUELERLINX_Companies AS Co ON Co.OID = C.FuelerlinxID OR Co.OID = -C.FuelerlinxID
	WHERE ISNULL(Co.HideInFboLinx, 0) = 0
	ORDER BY CIG.Company
	
	--Customer contacts
	SELECT CC.ContactID, CC.CustomerID, CIG.[Address], CIG.City, CIG.ContactID, CIG.CopyAlerts, CIG.Country, CIG.Email, CIG.Extension, CIG.Fax, CIG.FirstName,
	    CIG.GroupID, CIG.LastName, CIG.Mobile, CIG.Phone, CIG.[Primary], CIg.[State], CIg.Title,
	    Co.OID
	FROM CustomerContacts CC
	INNER JOIN Customers C ON C.OID = CC.CustomerID
	INNER JOIN Contacts Co ON Co.OID = CC.ContactID
	INNER JOIN ContactInfoByGroup CIG ON CIG.ContactID = Co.OID AND CIG.GroupID = @GroupID
	
	--Aircraft for the customer
	SELECT CA.OID,
			CA.GroupID,
			CA.CustomerID,
			CA.TailNumber,
			CA.BasedPAGLocation,
			CA.NetworkCode,
			AC.AircraftID,
			AC.MAKE AS AircraftMake,
			AC.MODEL AS AircraftModel,
			AC.[NORMAL CRUISE TAS] AS NormalCruiseTAS,
			AC.[FUEL CAPACITY (gal)] AS FuelCapacity,
			AC.[LANDING PERF LENGTH] AS LandingPerfLength,
			AC.[RANGE (nm)] AS MaxRange,
			AC.MaxRangeHours AS MaxRangeHours,
			AC.MaxRangeMinutes AS MaxRangeMinutes,
			AC.RangePerGal AS RangePerGal,
			AC.ReserveMinutes AS ReserveMinutes,
			AC.ReserveNM AS ReserveNM,
			CASE WHEN ISNULL(CA.Size, 0) > 0
							THEN CA.Size
							ELSE ISNULL(AC.Size, 0) END AS Size,
			CASE WHEN ISNULL(AC.MaxRangeHours, 0) > 0 THEN ISNULL(AC.[FUEL CAPACITY (gal)], 0) / ISNULL(AC.MaxRangeHours, 1) ELSE 0 END AS FuelBurnRate,
			AC.FuelType AS FuelType,
			CA.AddedFrom
	FROM
	CustomerAircrafts CA
	LEFT JOIN DEGA_airCrafts AC ON AC.AircraftID = CA.AircraftID
	INNER JOIN Customers C ON C.OID = CA.CustomerID
	LEFT JOIN FUELERLINX_Companies AS Co ON Co.OID = C.FuelerlinxID
	WHERE CA.GroupID = @GroupID AND ISNULL(Co.HideInFboLinx, 0) = 0
	ORDER BY CA.TailNumber
	
	--Admin emails for the group
	
	SELECT *
	FROM AdminEmails
	WHERE GroupID = @GroupID
	
	SELECT RF.*, FBO.[Fbo]
      ,FBO.[GroupID]
      ,FBO.[Username]
      ,FBO.[Password]
      ,FBO.[PostedRetail]
      ,FBO.[TotalCost]
      ,FBO.[Active]
      ,FBO.[DateActivated]
      ,FBO.[Address]
      ,FBO.[City]
      ,FBO.[State]
      ,FBO.[ZipCode]
      ,FBO.[Country]
      ,FBO.[TotalCost100LL]
      ,FBO.[PostedRetail100LL]
      ,FBO.[Suspended]
      ,FBO.[GroupMargin]
      ,FBO.[ApplyGroupMargin]
      ,FBO.[GroupMarginSetting]
      ,FBO.[GroupMarginFuture]
      ,FBO.[GroupMarginTemplate]
      ,FBO.[GroupMarginMargin]
      ,FBO.[GroupMarginType]
      ,FBO.[GroupMargin100LLMargin]
      ,FBO.[GroupMargin100LLType]
      ,FBO.[FuelDeskEmail]
      ,FBO.[MainPhone]
      ,FBO.[Extension]
      ,FBO.[DefaultMarginTypeJetA]
      ,FBO.[DefaultMarginType100LL]
      ,FBO.[SalesTax]
      ,FBO.[ApplySalesTax]
      ,FBO.[LastLogin]
      ,FBO.[PriceUpdateReminderPrompt]
      ,FBO.[PriceUpdateNeverPrompt]
      ,FBO.[Currency]
      ,FBO.[InitialSetupPhase]
      ,FBO.[DisableCost]
	FROM RampFees AS RF
	INNER JOIN FBOs FBO ON RF.FBOID = FBO.OID AND FBO.GroupID = @GroupID AND ISNULL(RF.Size, 0) > 0
	
	--FBO Prices
	EXEC up_Load_FBOPrices @GroupID
	
	--Customer margins
	EXEC up_Load_CustomerMargins @GroupID = @GroupID
END
